
@{
    ViewData["Title"] = "  امکانات رستوران  " + ViewData["Title"];
}

<div class="card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <div class="row justify-content-end">
            <div class="col-md-10 col-12">
                <div class="card-form row">
                    <div class="form-input col-md-8">
                        <div class="form-inline">
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" id="nameProperty" name="name" type="text" value="@ViewBag.name" placeholder="نام">
                            </div>
                        </div>
                    </div>
                    <div class="form-toolbar col-md-3">
                        <input type="submit" value="جستجو" class="btn btn-primary btn-sm" onclick="search()" />
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3 pl-2 pr-0">
                <a onclick="create(@ViewBag.Id)" class="btn btn-success btn-sm text-white float-left"><i class="fas fa-plus-circle"></i>افزودن</a>
            </div>
        </div>
    </div>
    <div id="listProperty">
        @await Component.InvokeAsync("PropertyListInAdminVc", ViewBag.Id)
    </div>

    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <div id="pagination-container"></div>
        </nav>
    </div>
</div>

<!-- Button trigger modal -->
@section Scripts{
    <script src="~/admin/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>

        function search() {
            var name = $('#nameProperty').val();
            $.ajax({
                url: "/Admin/Property/Search",
                data: { name: name }
            }).done(function (result) {
                $('#listProperty').html(result);
            })
        }
        function create(id) {
            $.get("/Admin/Property/Create/" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        };
        function edit(id) {
            $.get("/Admin/Property/Edit/" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        };
        function deleteProperty(id) {
            if (confirm('آیا از حذف امکانات رستوران مورد نظر مظمئن هستین؟')) {
                $.get("/Admin/Property/Delete/" + id, function (result) {
                    if (result == "true") {
                        $('#property_' + id).addClass('text-danger');
                        $("#property_" + id).hide('slow');
                    } else {
                        alert(result);
                    }
                })
            }
        }
    </script>
}
