@model TblFoodType

<form asp-action="Create" asp-controller="FoodType" asp-area="Admin">
    <input type="hidden" asp-for="RestaurantId" />
    <div class="form-horizontal">
        <div class="form-group">
            <label for="name">نوع رستوران </label>
            <div class="form-group mx-sm-1 mb-2">
                <input type="text" asp-for="Name" class="form-control form-control-sm" placeholder="نام" required />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت " onclick="LoadingRun('#createCatagory')" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>