
@{
    ViewData["Title"] = " رستوران ها  ";
}

<div class="card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <div class="row justify-content-end">
            <div class="col-md-10 col-12">
                <div class="card-form row">
                    <div class="form-input col-md-8">
                        <div class="form-inline">
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" id="name" name="name" type="text" value="@ViewBag.name" placeholder="نام">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" id="tellNo" name="tellNo" type="text" value="@ViewBag.tellNo" placeholder="شماره تماس">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <select id="isActive" name="isActive" class="form-control form-control-sm">
                                    <option value="-1" selected="">فعال بودن</option>
                                    <option value="1">فعال</option>
                                    <option value="0">غیر فعال</option>
                                </select>
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <select id="roleId" name="roleId" class="form-control form-control-sm">
                                    <option value="-1" selected="">همه</option>
                                    <option value="0">کاربران</option>
                                    <option value="1">نویسنده </option>
                                    <option value="2">مدیر</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-toolbar col-md-3">
                        <input type="submit" value="جستجو" class="btn btn-primary btn-sm" onclick="search()" />
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3 pl-2 pr-0">
                <a href="/Admin/Restauran/Create" class="btn btn-success btn-sm text-white float-left"><i class="fas fa-plus-circle"></i>افزودن</a>
            </div>
        </div>
    </div>
    <div id="card-table" class="p-0 card-body flex-div">
        <div class="table-responsive flex">
            <table class="table fixed pr-3 text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">کد</th>
                        <th scope="col">نام</th>
                        <th scope="col">کاربر</th>
                        <th scope="col">عکس</th>
                        <th scope="col">عکس بنر</th>
                        <th scope="col">دسته</th>
                        <th scope="col">شهر</th>
                        <th scope="col">محله</th>
                        <th scope="col">تلفن</th>
                        <th scope="col">امتیاز</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody id="listUser" class="list-wrapper">
                    @await Component.InvokeAsync("RestauranListInAdminVm")
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <div id="pagination-container"></div>
        </nav>
    </div>
</div>



<!-- Button trigger modal -->
@section Scripts{
    <script src="~/admin/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function search() {
            var name = $('#name').val();
            var tellNo = $('#tellNo').val();
            var isActive = $('#isActive').val();
            var roleId = $('#roleId').val();
            $.ajax({
                url: "/Admin/User/Search/",
                data: { name: name, tellNo: tellNo, isActive: isActive, roleId: roleId }
            }).done(function (result) {
                $('#listUser').html(result);
            })
        }
        function deleteRestauran(id) {
            if (confirm('آیا از حذف رستوران مورد نظر مظمئن هستین؟')) {
                $.get("/Admin/Restauran/Delete/" + id, function (result) {
                    if (result == "true") {
                        $('#restaurant_' + id).addClass('text-danger');
                        $("#restaurant_" + id).hide('slow');
                    } else {
                        alert(result);
                    }
                })
            }
        }
    </script>
}