
@{
    ViewBag.Title = "پروفایل شما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/Pages/Profile.min.css" rel="stylesheet" />
}

<!-- #region Croppie -->

<div id="Croppie" uk-modal>

</div>

<!-- #endregion -->

<div id="Modal-ChangePass" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

    </div>
</div>

<div id="Modal-ChangeName" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4 uk-margin-auto-left">تغییر نام</h2>
            <span class="uk-modal-close" uk-close></span>
            <div class="form-group">
                <label for="txtName" class="uk-margin-small-bottom" dir="rtl">نام جدید</label>
                <input type="text" class="form-group-bg" dir="rtl" placeholder="نام و نام خانوادگی" name="txtName" />
                <span class="input-error">این فیلد اشتباه وارد شده است</span>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <div class="btn btn-round btn-primary">ویرایش</div>
                <div class="btn btn-round btn-secondary uk-margin-small-right uk-modal-close">بازگشت</div>
            </div>
        </form>
    </div>
</div>

<div id="Modal-ChangeTel" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4 uk-margin-auto-left">تغییر شماره تلفن</h2>
            <span class="uk-modal-close" uk-close></span>
            <div class="form-group">
                <label for="txtTel" class="uk-margin-small-bottom" dir="rtl">شماره تلفن جدید</label>
                <input type="tel" class="form-group-bg" dir="rtl" name="txtTel" />
                <span class="input-error">این فیلد اشتباه وارد شده است</span>
            </div>
            <!-- Show after the SMS is sent -->
            <hr class="uk-margin uk-margin-remove-adjacent" />
            <p>
                پیامک اهراز به شماره تلفن وارد شده فرستاده شد
                <button class="btn-icon" uk-icon="refresh-outline" uk-tooltip="ارسال دوباره" aria-label="ارسال دوباره"></button>
            </p>
            <div class="form-group">
                <label for="txtCode" class="uk-margin-small-bottom" dir="rtl">کد اهراز</label>
                <input type="text" class="form-group-bg" dir="rtl" name="txtCode" />
                <span class="input-error">این فیلد اشتباه وارد شده است</span>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <!-- Enable after the CODE is written -->
                <div class="btn btn-round btn-primary">ویرایش</div>
                <div class="btn btn-round btn-secondary uk-margin-small-right uk-modal-close">بازگشت</div>
            </div>
        </form>
    </div>
</div>

<div class="uk-container uk-margin-medium-top column">

    <div class="profile mat uk-box-shadow-medium">
        <button id="btnMore" type="button"
                aria-label="بیشتر" class="btn-icon" uk-icon="ellipsis-horizontal"></button>
        <div uk-drop="pos: bottom-right">
            <div class="mat uk-box-shadow-large">
                <ul class="column uk-list">
                    <li>
                        <a href="#" onclick="changePassword()" class="uk-text-default">
                            تغییر رمز
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="editName()" class="uk-text-default">
                            تغییر نام
                        </a>
                    </li>
                    <li>
                        <a href="/User/User/ToRestaurant" class="uk-text-default">
                            ایجاد رستوران
                        </a>
                    </li>
                    <li>
                        <a href="/" class="uk-text-danger">خروج</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="alternate" id="alternate">
            @await Component.InvokeAsync("InformationInUserVc", Convert.ToInt32(ViewBag.Id))
        </div>
    </div>

    <div class="profile mat mat-margin-top uk-box-shadow-medium">
        <h3 class="uk-margin-auto-left">
            رستوران های شما
        </h3>

        <table class="uk-table table" dir="rtl">
            <thead>
                <tr>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>امتیاز</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div uk-lightbox>
                            <a href="~/resources/jpg/Coffee.jpg">
                                <img class="uk-border-rounded" src="~/resources/jpg/Coffee.jpg" width="64" height="64" alt="" />
                            </a>
                        </div>
                    </td>
                    <td>نام رستوران</td>
                    <td class="row">
                        <div class="star-container uk-margin-auto-left" uk-tooltip="3">
                            <div class="Stars" style="--rating: 3;"></div>
                        </div>
                    </td>
                    <th>
                        <div class="action-panel">
                            <a href="" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="create-outline" uk-tooltip="ویرایش رستوران"></a>
                            <a href="" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="eye-outline" uk-tooltip="مشاهده صفحه رستوران"></a>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="profile mat mat-margin-top uk-box-shadow-medium">
        <div class="column">
            <h3 class="uk-margin-auto">ایجاد رستوران</h3>
            <img src="~/resources/svg/undraw_cooking_lyxy.svg" class="uk-margin-auto" width="240" />
            @*<img src="~/resources/svg/makearestaurant.svg" />*@
            <p class="uk-grid-margin-medium text-center">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
            </p>
            <div class="button-panel uk-margin-auto">
                <a href="/home/torestaurant" class="btn btn-primary">
                    تشکیل رستوران
                </a>
            </div>
        </div>
    </div>

</div>

<div class="space"></div>

<div id="Modal-User" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="Modal-Body">

    </div>
</div>

@section Scripts{

    <script>
        function completeChangePassword() {
            $(".hideCompleChange").html('<div class="uk-alert uk-alert-success"><p class="help-block">تغیرات با موفقیت انجام شد</p></div>');
            $.get('/User/Account/Information', function (result) {
                $('#nameUser').html(result);
            });
            var delay = 3000;
            setTimeout(function () { UIkit.modal(document.getElementById('Modal-User')).hide(); }, delay);
        }
        function changePassword() {
            $.get("/User/Account/ChangePassword/",
                function (result) {
                    UIkit.modal(document.getElementById('Modal-User')).show();
                    $("#Modal-Body").html(result);
                }
            );
        }
        function editName() {
            $.get("/User/Account/EditName/",
                function (result) {
                    UIkit.modal(document.getElementById('Modal-User')).show();
                    $("#Modal-Body").html(result);
                }
            );
        }
        function uploadImage() {
            $.get("/User/Account/UploadImage/",
                function (result) {
                    UIkit.modal(document.getElementById('Croppie')).show();
                    $("#Croppie").html(result);
                }
            );
        }
    </script>

    <script name="Upload Image">
        const opt = {
            viewport: {
                width: 220,
                height: 220,
                //Valid type values:'square' 'circle'
                type: 'square'
            }
        }
        var c;
        function fileSelected(input) {
            if (input.files[0] == null) return;


            if (c != undefined) {
                const popup = document.getElementsByClassName('popup-croppie')[0];
                c.element.innerHTML = `<img src="/resources/svg/Image.svg" id="item">`
                //c.destroy();
            }

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('item');
                output.src = dataURL;
                c = new Croppie(document.getElementById('item'), opt);
            };
            reader.readAsDataURL(input.files[0]);
        }

        //Returns the Base64 string of a WebP image
        function crop() {
            try {
                c.result({ type: 'base64', size: 'viewport', format: 'png', quality: 1, circle: false }).then(i => {
                    //var image = new Image();
                    //image.src = i;
                    //document.getElementById('content').appendChild(image);
                    //console.log(i);
                    return i;
                });
            }
            catch {
                UIkit.notification('لطفا یک عکس انتخاب کنید');
            }
        }
    </script>

}