@model DataLayer.Models.TblUser
<div class="profile-image">
    @if (Model.ImageUrl != null)
    {
        <img src="~/Images/Users/@Model.ImageUrl" width="150" height="150" alt="عکس پروفایل" />
    }
    else
    {
        <img src="~/resources/jpg/Coffee.jpg" width="150" height="150" alt="عکس پروفایل" />
    }
    <button id="btnUploadImage" uk-tooltip="آپلود عکس" onclick="uploadImage()"
            class="btn-icon" aria-label="آپلود عکس پروفایل">
        <span uk-icon="image"></span>
    </button>
</div>

<div class="column uk-margin-right">
    <div class="data-group" name="dName">
        <label class="data-label">نام و نام خانوادگی</label>
        <div class="uk-inline">
            <button class="btn-icon uk-margin-small-right" onclick="editName()" type="button" aria-label="ویرایش نام"
                    uk-icon="create-outline"></button>
            <text class="data-value" id="nameUser">@Model.Name</text>
        </div>
    </div>

    <div class="data-group" name="dTel">
        <label class="data-label">شماره تلفن</label>
        <div class="uk-inline">
            @*<button class="btn-icon uk-margin-small-right" uk-toggle="#Modal-ChangeTel" type="button" aria-label="ویرایش شماره تلفن"
                    uk-icon="create-outline"></button>*@
            <text class="data-value">@Model.TellNo</text>
        </div>
    </div>
</div>