@model ForgotPasswordVm
@{
    ViewBag.Title = "بازیابی رمز عبور";
    ViewBag.BodyClass = "";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<form class="column" asp-action="ForgotPassword" asp-controller="Account" asp-area="">

    <p class="column">
        برای بازیابی رمز ورود خود، شماره تلفن خود را وارد کنید
    </p>

    <div class="form-group">
        <label class="input-label" for="txtTel">شماره تلفن</label>
        <input class="input" autocomplete="username" type="tel" asp-for="TellNo" placeholder="..." />
        <span class="input-error" asp-validation-for="TellNo"></span>
    </div>

    <div class="button-panel">
        <button class="btn btn-primary">بازیابی</button>
        <a href="/Account/Login" class="btn btn-secondary uk-margin-right">ورود</a>
    </div>

</form>
