@model LoginVm
@{
    ViewBag.Title = "ورود";
    ViewBag.BodyClass = "entry-2";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}
@section Scripts
{
    <partial name="_CaptchaScripts" />
}
<form asp-action="Login" asp-controller="Account" asp-area="">

    <partial name="_CaptchaInput" />
    @if (Context.Request.Query["Active"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">حساب کاربری شما فعال شد می توانید وارد حساب خود شوید</p>
        </div>
    }
    @if (Context.Request.Query["ChangePassword"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">رمز شما تغیر یافت می توانید وارد حساب خود شوید</p>
        </div>
    }

    @if (ViewBag.IsSuccess != null)
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">ورود با موفقیت انجام شد</p>
        </div>

        <script>
            var delay = 2000;
            setTimeout(function () { window.location = "/"; }, delay);
        </script>
    }
    <div class="form-group">
        <label class="input-label" for="txtTel">شماره تلفن</label>
        <input class="input" autocomplete="username" type="tel" asp-for="TellNo" placeholder="09......" />
        <span class="input-error" asp-validation-for="TellNo"></span>
    </div>
    <div class="form-group">
        <label class="input-label" for="txtPassword">رمز</label>
        <input class="input" autocomplete="new-password" asp-for="Password" type="password" placeholder="..." />
        <span class="input-error" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label class="input-label row" for="txtPassword">
            <span class="uk-margin-small-right uk-margin-auto-left uk-margin-small-top">
                مرا بخاطر بسپار
            </span>
            <input class="uk-checkbox uk-margin-small-top" asp-for="RememberMe" type="checkbox" />
        </label>
        <span class="input-error" asp-validation-for="RememberMe"></span>
    </div>
    <div class="form-group">
        <a href="/Account/ForgotPassword" class="anchor">
            رمز عبور خود را فراموش کرده اید؟
        </a>
    </div>

    <div class="button-panel">
        <button class="btn btn-primary">ورود</button>
        <a href="/Account/Register" class="btn btn-secondary uk-margin-right">ثبت نام</a>
    </div>

</form>
