@model ActiveVm
@{
    ViewBag.Title = "احراز هویت";
    ViewBag.BodyClass = "entry-3";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<form class="column" asp-controller="Account" asp-action="Validation" asp-area="">

    <p class="column">
        کد احراز هویت شما به شماره
        شما
        فرستاده شد
    </p>
    <input type="hidden" asp-for="Tell" name="Tell" />
    <div class="form-group">
        <label class="input-label" for="Auth">کد احراز</label>
        <input class="input" type="text" asp-for="Auth" name="Auth" placeholder="..." />
        <span class="input-error" asp-validation-for="Auth"></span>
    </div>

    <div class="button-panel">
        <input type="submit" class="btn btn-primary" value="احراز" />
        <button class="btn btn-secondary uk-margin-right">بازگشت</button>
    </div>

</form>



