@model UploadImageRestaurant
<div class="uk-modal-dialog background-transparent uk-flex">
    <div class="popup-croppie column uk-margin-auto" id="uploadImage">
        <form asp-action="UploadImage" asp-controller="Restaurant" asp-area="" enctype="multipart/form-data" class="controls uk-width-1-1 row ">
            <input type="hidden" name="id" asp-for="id" />
            <input type="file" id="files" required name="files" onchange="fileSelected(this)" class="display-none">
            <label class="button-icon" for="files">
                <span uk-icon="image"></span>
            </label>
            <button class="button-icon" onclick="crop()">
                <span uk-icon="crop"></span>
            </button>
            @*<button class="button-icon uk-margin-auto-left" onclick="window.history.back()">
                            <span uk-icon="close"></span>
                </button>*@
            <button class="button-icon uk-margin-auto-left uk-modal-close" id="sendImage" disabled>
                <span uk-icon="close"></span>
            </button>
        </form>
        <img src="~/resources/svg/Image.svg" id="item" />
    </div>
</div>

<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.js"></script>