<!-- #region Comment -->

<div class="comment">
    <div class="user">
        <img src="~/resources/jpg/Coffee.jpg" class="btn-round" width="50" height="50" alt="عکس کاربر" />
        <div>
            <label class="name">مهتاب دادسرشت</label>
            <span class="date">4 ماه پیش</span>
        </div>
    </div>
    <p class="content">
        قيمت ها كمي بالاست اما واقعا مي ارزه،خيلي خيلي خوشمزه و پرحجم بود غذاهاشون،محيطش هم خيلي زيباست و همه كاركنان هم بسيار خوش اخلاق هستن
    </p>
    <div class="action">
        @*<button class="btn-icon" uk-icon="information-circle"></button>*@
        <button class="btn-icon uk-margin-small-right" uk-icon="heart-outline">
            <span>16</span>
        </button>
        <button class="btn-icon uk-margin-auto-right" uk-toggle="#Modal-Report-Comment"
                type="button" uk-icon="megaphone-outline"></button>
    </div>
</div>

<!-- #endregion -->
