<div class="mat scores" uk-scrollspy="cls:uk-animation-fade;delay:100">
            <h5 class="uk-h4">امتیاز ها</h5>
            <div class="container uk-flex-wrap">
        <div class="progress-ring-container" percentage="32">
            <svg class="progress-ring"
                 width="120"
                 height="120">
                <circle class="progress-ring__circle"
                        fill="transparent"
                        r="56"
                        cx="60"
                        cy="60" />
            </svg>
            <div class="text">
                <div class="column">
                    <p>
                        32
                    </p>
                    <label>
                        کیفیت و طعم
                    </label>
                </div>
            </div>
        </div>
        <div class="progress-ring-container" percentage="64">
            <svg class="progress-ring"
                 width="120"
                 height="120">
                <circle class="progress-ring__circle"
                        fill="transparent"
                        r="56"
                        cx="60"
                        cy="60" />
            </svg>
            <div class="text">
                <div class="column">
                    <p>
                        64
                    </p>
                    <label>
                        دکوراسیون و محیط
                    </label>
                </div>
            </div>
        </div>
        <div class="progress-ring-container" percentage="75">
            <svg class="progress-ring"
                 width="120"
                 height="120">
                <circle class="progress-ring__circle"
                        fill="transparent"
                        r="56"
                        cx="60"
                        cy="60" />
            </svg>
            <div class="text">
                <div class="column">
                    <p>
                        75
                    </p>
                    <label>
                        سرویس و کارکنان
                    </label>
                </div>
            </div>
        </div>
        <div class="progress-ring-container" percentage="90">
            <svg class="progress-ring"
                 width="120"
                 height="120">
                <circle class="progress-ring__circle"
                        fill="transparent"
                        r="56"
                        cx="60"
                        cy="60" />
            </svg>
            <div class="text">
                <div class="column">
                    <p>
                        90
                    </p>
                    <label>
                        ارزش نسبت به قیمت
                    </label>
                </div>
            </div>
        </div>
     
      </div>
        </div>