@model LocationVm
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Packages/leaflet.min.css" rel="stylesheet" />
    <link href="~/leaflet-routing-machine.css" rel="stylesheet" />
}

<div class="map" id="map" style="height:1000px;width:100%"></div>


<input type="hidden" asp-for="LatMabda"  />
<input type="hidden" asp-for="LonMabda"  />
<input type="hidden" asp-for="LatMagsad"  />
<input type="hidden" asp-for="LonMagsad"  />
<input type="hidden" asp-for="Name"  />
<style>
    /*leaflet-routing-container leaflet-bar leaflet-control*/
    .leaflet-control-container {
        display: none !important;
    }
</style>
@section Scripts{

    <script src="~/js/jquery-3.5.1.min.js" ></script>
    <link href="~/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/leaflet/leaflet.js"></script>

    <script src="~/leaflet-routing-machine.js"></script>

    <script>

        //مقصد
        var Lat = $("#LatMagsad").val();
        var Lon = $("#LonMagsad").val();
        var LatMabda = $("#LatMabda").val();
        var LonMabda = $("#LonMabda").val();
        var Name = $("#Name").val();
        //
        var map = L.map('map').setView([Lat, Lon], 15);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: Name
        }).addTo(map);

        L.Routing.control({
            waypoints: [
                ///مبدا
                L.latLng(LatMabda, LonMabda),
                //مقصد
                L.latLng(Lat, Lon)
            ]
        }).addTo(map);


    </script>
}
