@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Restaurant.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}

<!-- #region Banner -->

<div class="image-container uk-box-shadow-large ">
    <img class="banner-image" width="500" height="350" src="~/resources/png/GoodFather.png" alt="Restaurant Banner" />
</div>

<div class="banner uk-margin-medium-bottom">
    <div class="banner-logo">
        <div class="row-reverse">
            <div uk-lightbox>
                <a href="/resources/png/food_3.png" data-caption="نام رستوران" data-alt="Restaurant Logo">
                    <img class="logo uk-box-shadow-medium"
                         src="/resources/png/food_3.png" width="100" height="100" alt="Restaurant Logo" />
                </a>
            </div>
            <div class="column">
                <h1 class="uk-h3">
                    رستوران بسیار بسیار گران قیمت
                </h1>
                <div class="star-container uk-margin-auto-right banner-material row" uk-tooltip="2.5" dir="rtl">
                    <div class="Stars" style="--rating:  2.5" aria-label="Rating of this product is 2.3 out of 5."></div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-info">
        <div class="column">
            <div class="row">
                <h3 class="uk-margin-remove uk-h5 row banner-material">
                    <i uk-icon="call"></i>
                    <span class="uk-margin-small-left">021 861 28 640</span>
                </h3>
                <h3 class="uk-margin-small-left uk-margin-remove-vertical uk-h5 row banner-material">
                    <i uk-icon="time-outline"></i>
                    <span class="uk-margin-small-left">7:30 تا 22:30</span>
                </h3>
            </div>
            <p class="banner-material uk-margin-small-top uk-margin-auto-left uk-margin-remove-bottom">
                <span uk-icon="location-sharp"></span>
                تبریز - ایل گلی - کوی فردوس - خیابان ایل گلی - رستوران پدر خوب
            </p>
        </div>
    </div>
    <div class="banner-action column">
        <div class="row uk-margin-auto-top">
            <a href="" uk-tooltip="آپلود عکس" class="banner-material uk-margin-small-right" uk-icon="image"></a>
            <a href="" uk-tooltip="گزارش مشکل" class="banner-material uk-margin-auto-right" uk-icon="megaphone-outline"></a>
            <a href="" uk-tooltip="پیج اینستاگرام" class="banner-material" uk-icon="logo-instagram"></a>
        </div>
    </div>
</div>


<!-- #endregion -->
<div class="uk-container">
    <!-- #region User Photos -->

    <div class="carousel carousel-image uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
        <h4 class="uk-margin-remove-top">
            عکس های کاربران
        </h4>
        <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-6-at-xl">
            <li>
                <a href="/resources/png/food_1.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_3.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_4.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_5.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_1.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_3.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_4.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_5.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <!-- #endregion -->
    <!-- #region Menu -->

    <div class="carousel carousel-image carousel-menu uk-box-shadow-medium
         uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>

        <h4 class="uk-margin-remove-top">
            منو رستوران
        </h4>

        <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-6-at-xl">
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_2.png"><img src="~/resources/png/Menu_2.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_3.png"><img src="~/resources/png/Menu_3.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_2.png"><img src="~/resources/png/Menu_2.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_3.png"><img src="~/resources/png/Menu_3.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <!-- #endregion -->
    <!-- #region Info -->
    <div class="info uk-margin-medium-top">
        <div class="mat meals">
            <h5 class="uk-h4">غذا ها</h5>
            <ul class="row-reverse uk-flex-wrap">
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
            </ul>
        </div>
        <div class="mat foodstyle">
            <h5 class="uk-h4">سبک غذایی</h5>
            <ul class="row-reverse uk-flex-wrap">
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
            </ul>
        </div>
        <div class="mat scores">
            <h5 class="uk-h4">امتیاز ها</h5>
            <div class="row-reverse uk-flex-wrap">
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="32">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                32
                            </p>
                            <label>
                                کیفیت و طعم
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="64">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                64
                            </p>
                            <label>
                                دکوراسیون و محیط
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="75">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                75
                            </p>
                            <label>
                                سرویس و کارکنان
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="90">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                90
                            </p>
                            <label>
                                ارزش نسبت به قیمت
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
            </div>
        </div>
        <div class="mat options">
            <h5 class="uk-h4">امکانات</h5>
        </div>
        <div id="myMap" class="mat map">

        </div>
    </div>
    <!-- #endregion -->
</div>

<!-- #region Comment Section -->
<!-- #endregion -->

@section Scripts{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>
        var mymap = L.map('myMap').setView([51.505, -0.09], 13);
    </script>

    <script>
        const circles = document.getElementsByClassName('progress-ring__circle');
        let counter = 0;
        for (let circle of circles) {

            var radius = circle.r.baseVal.value;
            var circumference = radius * 2 * Math.PI;

            circle.style.strokeDasharray = `${circumference} ${circumference}`;
            circle.style.strokeDashoffset = `${circumference}`;

            function setProgress(percent) {
                const offset = circumference - percent / 100 * circumference;
                circle.style.strokeDashoffset = offset;
            }

            const percentage =
                document.getElementsByClassName('progress-ring-container')[counter]
                    .getAttribute("percentage");
            setProgress(parseInt(percentage));

            counter++;
        }
    </script>

}