@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Restaurant.min.css" rel="stylesheet" />
    <link href="~/css/Packages/leaflet.min.css" rel="stylesheet" />
}

<!-- #region Modals -->

<div id="Modal-Comment" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4">ثبت نظر</h2>
            <span class="uk-modal-close" uk-close></span>
            <div class="form-group">
                <textarea dir="rtl" placeholder="نظر شما..." name="txtComment"></textarea>
            </div>
            <div class="uk-margin-auto uk-margin-small-top center column">
                <div class="column">
                    <label class="uk-margin-auto">دکوراسیون و محیط</label>
                    <div class="row-reverse star-container">
                        <span class="star-cb-group">
                            <input type="radio" id="decor-5" name="decor" value="5" /><label for="decor-5">5</label>
                            <input type="radio" id="decor-4" name="decor" value="4" /><label for="decor-4">4</label>
                            <input type="radio" id="decor-3" name="decor" value="3" /><label for="decor-3">3</label>
                            <input type="radio" id="decor-2" name="decor" value="2" /><label for="decor-2">2</label>
                            <input type="radio" id="decor-1" name="decor" value="1" /><label for="decor-1">1</label>
                            <input type="radio" id="decor-0" name="decor" value="0" class="star-cb-clear" /><label for="decor-0">0</label>
                        </span>
                    </div>
                </div>
                <div class="column">
                    <label class="uk-margin-auto">دکوراسیون و محیط</label>
                    <div class="row-reverse  star-container">
                        <span class="star-cb-group">
                            <input type="radio" id="taste-5" name="taste" value="5" /><label for="taste-5">5</label>
                            <input type="radio" id="taste-4" name="taste" value="4" /><label for="taste-4">4</label>
                            <input type="radio" id="taste-3" name="taste" value="3" /><label for="taste-3">3</label>
                            <input type="radio" id="taste-2" name="taste" value="2" /><label for="taste-2">2</label>
                            <input type="radio" id="taste-1" name="taste" value="1" /><label for="taste-1">1</label>
                            <input type="radio" id="taste-0" name="taste" value="0" class="star-cb-clear" /><label for="taste-0">0</label>
                        </span>
                    </div>
                </div>
                <div class="column">
                    <label class="uk-margin-auto">دکوراسیون و محیط</label>
                    <div class="row-reverse  star-container">
                        <span class="star-cb-group">
                            <input type="radio" id="staff-5" name="staff" value="5" /><label for="staff-5">5</label>
                            <input type="radio" id="staff-4" name="staff" value="4" /><label for="staff-4">4</label>
                            <input type="radio" id="staff-3" name="staff" value="3" /><label for="staff-3">3</label>
                            <input type="radio" id="staff-2" name="staff" value="2" /><label for="staff-2">2</label>
                            <input type="radio" id="staff-1" name="staff" value="1" /><label for="staff-1">1</label>
                            <input type="radio" id="staff-0" name="staff" value="0" class="star-cb-clear" /><label for="staff-0">0</label>
                        </span>
                    </div>
                </div>
                <div class="column">
                    <label class="uk-margin-auto">دکوراسیون و محیط</label>
                    <div class="row-reverse  star-container">
                        <span class="star-cb-group">
                            <input type="radio" id="price-5" name="price" value="5" /><label for="price-5">5</label>
                            <input type="radio" id="price-4" name="price" value="4" /><label for="price-4">4</label>
                            <input type="radio" id="price-3" name="price" value="3" /><label for="price-3">3</label>
                            <input type="radio" id="price-2" name="price" value="2" /><label for="price-2">2</label>
                            <input type="radio" id="price-1" name="price" value="1" /><label for="price-1">1</label>
                            <input type="radio" id="price-0" name="price" value="0" class="star-cb-clear" /><label for="price-0">0</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <div class="btn btn-round btn-primary">ثبت</div>
                <div class="btn btn-round btn-secondary uk-margin-small-right uk-modal-close">بازگشت</div>
            </div>
        </form>
    </div>
</div>

<div id="Modal-Report" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4 uk-margin-auto-left">این ویدیو چه مشکلی دارد؟</h2>
            <span class="uk-modal-close" uk-close></span>
            <ul>
                <li class="uk-form-controls">
                    <label>این مکان موقتا بسته شده است</label>
                    <input type="radio" class=" uk-radio" name="report" value="" id="" />
                </li>
                <li class="uk-form-controls uk-margin-small-top">
                    <label>این مکان تکراری است</label>
                    <input type="radio" class="uk-radio" name="report" value="" id="" />
                </li>
                <li class="uk-form-controls uk-margin-small-top">
                    <label>این مکان وجود ندارد</label>
                    <input type="radio" class="uk-radio" name="report" value="" id="" />
                </li>
                <li class="uk-form-controls uk-margin-small-top">
                    <label>وجود اشکال در اطلاعات مکان</label>
                    <input type="radio" class="uk-radio" name="report" value="" id="" />
                </li>
            </ul>
            <label for="Other" class="uk-margin-small-bottom" dir="rtl">مشکل دیگر</label>
            <div class="form-group">
                <textarea dir="rtl" placeholder="لحاظ کنید..." name="txtComment"></textarea>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <div class="btn btn-round btn-primary">ثبت</div>
                <div class="btn btn-round btn-secondary uk-margin-small-right uk-modal-close">بازگشت</div>
            </div>

        </form>
    </div>
</div>

<!-- #region Croppie -->

<div id="Croppie" uk-modal>
    <div class="uk-modal-dialog background-transparent uk-flex">
        <div class="popup-croppie column uk-margin-auto">
            <div class="controls uk-width-1-1 row ">
                <input type="file" id="files" onchange="fileSelected(this)" class="display-none">
                <label class="button-icon" for="files">
                    <span uk-icon="image"></span>
                </label>
                <button class="button-icon" onclick="crop()">
                    <span uk-icon="crop"></span>
                </button>
                @*<button class="button-icon uk-margin-auto-left" onclick="window.history.back()">
                                <span uk-icon="close"></span>
                    </button>*@
                <button class="button-icon uk-margin-auto-left uk-modal-close">
                    <span uk-icon="close"></span>
                </button>
            </div>
            <img src="~/resources/svg/Image.svg" id="item" />
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #endregion -->
<!-- #region Banner -->

<div class="image-container uk-box-shadow-large ">
    <img class="banner-image" width="500" height="350" src="~/resources/png/GoodFather.png" alt="Restaurant Banner" />
</div>

<div class="banner uk-margin-small-bottom">
    <div class="banner-logo">
        <div class="row-reverse">
            <div uk-lightbox>
                <a href="/resources/png/food_3.png" data-caption="نام رستوران" data-alt="Restaurant Logo">
                    <img class="logo uk-box-shadow-medium"
                         src="/resources/png/food_3.png" width="100" height="100" alt="Restaurant Logo" />
                </a>
            </div>
            <div class="column">
                <h1 class="uk-h3">
                    رستوران بسیار بسیار گران قیمت
                </h1>
                <div class="star-container uk-margin-auto-top uk-margin-auto-right banner-material row" uk-tooltip="2.5" dir="rtl">
                    <div class="Stars" style="--rating:  2.5" aria-label="Rating of this product is 2.3 out of 5."></div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-info">
        <div class="column">
            <div class="alternate">
                <h3 class="uk-margin-remove clickable uk-h5 row banner-material"
                    onclick="copy('021 861 28 640','شماره تلفن کپی شد')">
                    <i uk-icon="call"></i>
                    <span class="uk-margin-small-left">021 861 28 640</span>
                </h3>
                <h3 class="uk-margin-small-left clickable uk-margin-remove-vertical uk-h5 row banner-material"
                    onclick="copy('7:30 تا 22:30','زمان کاری کپی شد')">
                    <i uk-icon="time-outline"></i>
                    <span class="uk-margin-small-left">7:30 تا 22:30</span>
                </h3>
            </div>
            <p class="banner-material clickable uk-margin-small-top uk-margin-remove-bottom"
               onclick="copy('تبریز - ایل گلی - کوی فردوس - خیابان ایل گلی - رستوران پدر خوب','آدرس کپی شد')">
                <span uk-icon="location-sharp"></span>
                تبریز - ایل گلی - کوی فردوس - خیابان ایل گلی - رستوران پدر خوب
            </p>
        </div>
    </div>
    <div class="banner-action column">
        <div class="row uk-margin-auto-top">
            <a href="#Croppie" uk-tooltip="آپلود عکس" uk-toggle class="banner-material clickable uk-margin-small-right" uk-icon="image"></a>
            <a href="#Modal-Report" uk-tooltip="گزارش مشکل" uk-toggle class="banner-material clickable uk-margin-auto-right" uk-icon="megaphone-outline"></a>
            <span uk-tooltip="اشتراک گذاری رستوران" class="banner-material uk-margin-small-right clickable" uk-icon="share-social-outline"
                  onclick="copy(window.location.href,'لینک صفحه کپی شد')"></span>
            <a href="https://www.instagram.com/mr.foodtbz/?hl=en" uk-tooltip="پیج اینستاگرام" class="banner-material clickable" uk-icon="logo-instagram"></a>
        </div>
    </div>
</div>

<!-- #endregion -->

<div class="uk-container">

    <!-- #region User Photos -->

    <div class="carousel carousel-image uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>
        <h4 class="uk-margin-remove-top">
            عکس های کاربران
        </h4>
        <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-6-at-xl">
            <li>
                <a href="/resources/png/food_1.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_3.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_4.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_5.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_1.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_3.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_4.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/food_5.png"><img src="~/resources/png/food_1.png" width="220" height="220" alt="عکس از رستوران" /></a>
            </li>
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <!-- #endregion -->
    <!-- #region Menu -->

    <div class="carousel carousel-image carousel-menu uk-box-shadow-medium
         uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider>

        <h4 class="uk-margin-remove-top">
            منو رستوران
        </h4>

        <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-6-at-xl">
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_2.png"><img src="~/resources/png/Menu_2.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_3.png"><img src="~/resources/png/Menu_3.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_2.png"><img src="~/resources/png/Menu_2.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_3.png"><img src="~/resources/png/Menu_3.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
            <li>
                <a href="/resources/png/Menu_1.png"><img src="~/resources/png/Menu_1.png" width="220" height="365" alt="عکس از منو رستوران" /></a>
            </li>
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <!-- #endregion -->
    <!-- #region Info -->
    <div class="info mat-margin-top">
        <div class="mat meals">
            <h5 class="uk-h4">غذا ها</h5>
            <ul class="auto-row uk-padding-remove">
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
            </ul>
        </div>
        <div class="mat foodstyle">
            <h5 class="uk-h4">سبک غذایی</h5>
            <ul class="auto-row uk-padding-remove">
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
                <li>
                    <a>پیتزا</a>
                </li>
            </ul>
        </div>
        <div class="mat scores">
            <h5 class="uk-h4">امتیاز ها</h5>
            <div class="container uk-flex-wrap">
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="32">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                32
                            </p>
                            <label>
                                کیفیت و طعم
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="64">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                64
                            </p>
                            <label>
                                دکوراسیون و محیط
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="75">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                75
                            </p>
                            <label>
                                سرویس و کارکنان
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Gauge -->

                <div class="progress-ring-container" percentage="90">
                    <svg class="progress-ring"
                         width="120"
                         height="120">
                        <circle class="progress-ring__circle"
                                fill="transparent"
                                r="56"
                                cx="60"
                                cy="60" />
                    </svg>
                    <div class="text">
                        <div class="column">
                            <p>
                                90
                            </p>
                            <label>
                                ارزش نسبت به قیمت
                            </label>
                        </div>
                    </div>
                </div>

                <!-- #endregion -->
            </div>
        </div>
        <div class="mat options">
            <h5 class="uk-h4">امکانات</h5>
            <ul>
                <li>
                    <span uk-icon="checkmark-circle"></span>
                    <span>فضای باز</span>
                </li>
                <li>
                    <span uk-icon="checkmark-circle"></span>
                    <span>سیگار آزاد</span>
                </li>
                <li>
                    <span uk-icon="checkmark-circle"></span>
                    <span>دستشویی</span>
                </li>
                <li>
                    <span uk-icon="checkmark-circle"></span>
                    <span>دستشویی</span>
                </li>
            </ul>
        </div>
        <div id="mapid" class="mat map">

        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Comment Section -->

    <div class="comment-section mat mat-margin-top">
        <div class="row-reverse uk-margin-small-bottom">
            <h4 class="uk-h3 uk-margin-remove">نظرات کاربران</h4>
            <button uk-toggle="#Modal-Comment" type="button" class="row-reverse btn btn-primary btn-round uk-margin-auto-right">
                <span uk-icon="chatbox-ellipses" class="uk-margin-small-left"></span>
                ثبت نظر
            </button>
        </div>

        <!-- #region Comment -->

        <div class="comment">
            <div class="user">
                <img src="~/resources/jpg/Coffee.jpg" class="btn-round" width="50" height="50" alt="عکس کاربر" />
                <div>
                    <label class="name">مهتاب دادسرشت</label>
                    <span class="date">4 ماه پیش</span>
                </div>
            </div>
            <p class="content">
                قيمت ها كمي بالاست اما واقعا مي ارزه،خيلي خيلي خوشمزه و پرحجم بود غذاهاشون،محيطش هم خيلي زيباست و همه كاركنان هم بسيار خوش اخلاق هستن
            </p>
            <div class="action">
                <button class="btn-icon" uk-icon="information-circle"></button>
                <button class="btn-icon uk-margin-small-right" uk-icon="heart-outline">
                    <span>16</span>
                </button>
                <button class="btn-icon uk-margin-auto-right" uk-icon="megaphone-outline"></button>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Comment -->

        <div class="comment">
            <div class="user">
                <img src="~/resources/jpg/Coffee.jpg" class="btn-round" width="50" height="50" alt="عکس کاربر" />
                <div>
                    <label class="name">مهتاب دادسرشت</label>
                    <span class="date">4 ماه پیش</span>
                </div>
            </div>
            <p class="content">
                قيمت ها كمي بالاست اما واقعا مي ارزه،خيلي خيلي خوشمزه و پرحجم بود غذاهاشون،محيطش هم خيلي زيباست و همه كاركنان هم بسيار خوش اخلاق هستن
            </p>
            <div class="action">
                <button class="btn-icon" uk-icon="information-circle"></button>
                <button class="btn-icon uk-margin-small-right" uk-icon="heart-outline">
                    <span>16</span>
                </button>
                <button class="btn-icon uk-margin-auto-right" uk-icon="megaphone-outline"></button>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Comment -->

        <div class="comment">
            <div class="user">
                <img src="~/resources/jpg/Coffee.jpg" class="btn-round" width="50" height="50" alt="عکس کاربر" />
                <div>
                    <label class="name">مهتاب دادسرشت</label>
                    <span class="date">4 ماه پیش</span>
                </div>
            </div>
            <p class="content">
                قيمت ها كمي بالاست اما واقعا مي ارزه، خيلي خيلي خوشمزه و پرحجم بود غذاهاشون،محيطش هم خيلي زيباست و همه كاركنان هم بسيار خوش اخلاق هستن
            </p>
            <div class="action">
                <button class="btn-icon" uk-icon="information-circle"></button>
                <button class="btn-icon uk-margin-small-right" uk-icon="heart-outline">
                    <span>16</span>
                </button>
                <button class="btn-icon uk-margin-auto-right" uk-icon="megaphone-outline"></button>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Comment -->

        <div class="comment">
            <div class="user">
                <img src="~/resources/jpg/Coffee.jpg" class="btn-round" width="50" height="50" alt="عکس کاربر" />
                <div>
                    <label class="name">مهتاب دادسرشت</label>
                    <span class="date">4 ماه پیش</span>
                </div>
            </div>
            <p class="content">
                قيمت ها كمي بالاست اما واقعا مي ارزه،خيلي خيلي خوشمزه و پرحجم بود غذاهاشون،محيطش هم خيلي زيباست و همه كاركنان هم بسيار خوش اخلاق هستن
            </p>
            <div class="action">
                <button class="btn-icon" uk-icon="information-circle"></button>
                <button class="btn-icon uk-margin-small-right" uk-icon="heart-outline">
                    <span>16</span>
                </button>
                <button class="btn-icon uk-margin-auto-right" uk-icon="megaphone-outline"></button>
            </div>
        </div>

        <!-- #endregion -->

    </div>

    <!-- #endregion -->

</div>

@section Scripts{

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>

        try {
            var mymap = L.map('mapid').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);

            L.marker([51.5, -0.09]).addTo(mymap)
                .bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

            L.circle([51.508, -0.11], 500, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5
            }).addTo(mymap).bindPopup("I am a circle.");

            L.polygon([
                [51.509, -0.08],
                [51.503, -0.06],
                [51.51, -0.047]
            ]).addTo(mymap).bindPopup("I am a polygon.");


            var popup = L.popup();

            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(mymap);
            }

            mymap.on('click', onMapClick);
        } catch (e) {

        }

    </script>

    <script name="Gauge">
        const circles = document.getElementsByClassName('progress-ring__circle');
        let counter = 0;
        for (let circle of circles) {

            var radius = circle.r.baseVal.value;
            var circumference = radius * 2 * Math.PI;

            circle.style.strokeDasharray = `${circumference} ${circumference}`;
            circle.style.strokeDashoffset = `${circumference}`;

            function setProgress(percent) {
                const offset = circumference - percent / 100 * circumference;
                circle.style.strokeDashoffset = offset;
            }

            const percentage =
                document.getElementsByClassName('progress-ring-container')[counter]
                    .getAttribute("percentage");
            setProgress(parseInt(percentage));

            counter++;
        }
    </script>

    <script>
        //UIkit.modal(document.getElementById('Modal-Report')).show();
    </script>

    <script name="Upload Image">
        const opt = {
            viewport: {
                width: 220,
                height: 220,
                //Valid type values:'square' 'circle'
                type: 'square'
            }
        }
        var c;
        function fileSelected(input) {
            if (input.files[0] == null) return;

            if (c != undefined) {
                const popup = document.getElementsByClassName('popup-croppie')[0];
                c.destroy();
            }

            var image = new Image();
            image.src = input.value;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('item');
                output.src = dataURL;
                c = new Croppie(document.getElementById('item'), opt);
            };
            reader.readAsDataURL(input.files[0]);
        }

        //Returns the Base64 string of a WebP image
        function crop() {
            try {
                c.result({ type: 'base64', size: 'viewport', format: 'png', quality: 1, circle: false }).then(i => {
                    //var image = new Image();
                    //image.src = i;
                    //document.getElementById('content').appendChild(image);
                    //console.log(i);
                    return i;
                });
            }
            catch{
                UIkit.notification('لطفا یک عکس انتخاب کنید');
            }
        }
    </script>

}