@model TblCatagory

<form asp-action="Edit" asp-controller="Catagory" asp-area="Admin" enctype="multipart/form-data">
    <div class="form-horizontal">
        <input type="hidden" asp-for="CatagoryId" />
        <input type="hidden" asp-for="ImageUrl" />
        <input type="hidden" asp-for="IconUrl" />

        <div class="form-group">
            <label for="name">نام </label>
            <div class="form-group mx-sm-1 mb-2">
                <input type="text" asp-for="Name" class="form-control form-control-sm" placeholder="نام" required />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="name">عکس </label>
            @if (Model.ImageUrl != null)
            {
                <img src="/Images/Catagory/@Model.ImageUrl" alt=" @Model.Name" style="max-width:100px;" />
            }
            else
            {
                <img src="/Images/NoImage.svg" alt="@Model.Name" style="max-width:100px;" />
            }
            <div class="upload-image uk-margin-auto-left">
                <label class="title">لوگو دسته بندی <span>(نسبت یک در یک)</span></label>
                <img class="preview" src="" alt="" />
                <label class="select">
                    <span>
                        فایل انتخاب نشده
                    </span>
                    <input type="file" accept="image/*" name="IconUrl" onchange="imageSelected(this)" />
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="name">عکس لوگو  </label>
            @if (Model.IconUrl != null)
            {
                <img src="/Images/Catagory/Icon/@Model.IconUrl" alt=" @Model.Name" style="max-width:100px;" />
            }
            else
            {
                <img src="/Images/NoImage.svg" alt="@Model.Name" style="max-width:100px;" />
            }
        <div class="upload-image uk-margin-auto-left">
            <label class="title"> عکس <span>(نسبت یک در یک)</span></label>
            <img class="preview" src="" alt="" />
            <label class="select">
                <span>
                    فایل انتخاب نشده
                </span>
                <input type="file" accept="image/*" name="ImageUrl" onchange="imageSelected(this)" />
            </label>
        </div>
        </div>
        <div class="form-group">
            <label for="name">در صفحه اصلی نمایش داده شود </label>
            <div class="form-group mx-sm-1 mb-2">
                <input type="checkbox" asp-for="IsHome" class="form-control form-control-sm" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ویرایش" onclick="LoadingRun('#createCatagory')" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<script>
    function imageSelected(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                const img = input.parentElement.parentElement.querySelector('.preview');
                img.src = e.target.result.toString();
                img.style.backgroundImage = '';
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
</script>