
@{
    ViewData["Title"] = "دسته بندی";
}
<div class="card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <div class="row justify-content-end">
            <form id="formCatagory" class="col-md-10 col-12">
                <div class="card-form row">
                    <div class="form-input col-md-8">
                        <div class="form-inline">
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" id="name" name="name" type="text" value="@ViewBag.name" placeholder="نام">
                            </div>
                        </div>
                    </div>
                    <div class="form-toolbar col-md-3">
                        <input type="submit" value="جستجو" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </form>
            <div class="col-md-2 col-3 pl-2 pr-0">
                <a onclick="create()" class="btn btn-success btn-sm text-white float-left"><i class="fas fa-plus-circle"></i>افزودن</a>
            </div>
        </div>
    </div>
    <div id="card-table" class="p-0 card-body flex-div">
        <div class="table-responsive flex">
            <table class="table fixed pr-3 text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">کد</th>
                        <th scope="col">عکس</th>
                        <th scope="col"> عکس لوگو</th>
                        <th scope="col">نام</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody id="listCatagory" class="list-wrapper">
                    @await Component.InvokeAsync("CatagoryListInAdminVc")
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <div id="pagination-container"></div>
        </nav>
    </div>
</div>



<!-- Button trigger modal -->
@section Scripts{
    <script src="~/admin/bootstrap/js/jquery.validate.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/bootstrap/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $('#formCatagory').submit(function (e) {
            e.preventDefault();
            var data = $(this).serializeArray();
            $.post('/Admin/Catagory/Search/', data, function (result) {
                $('#listCatagory').html(result);
            });
        });
        function create() {
            $.get("/Admin/Catagory/Create",
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        };
        function edit(id) {
            $.get("/Admin/Catagory/Edit/" + id,
                function (result) {
                    $("#myModal").modal('show');
                    $("#myModalBody").html(result);
                }
            );
        };
        function deleteCat(id) {
            if (confirm('آیا از حذف دسته مورد نظر مظمئن هستین؟')) {
                $.get("/Admin/Catagory/Delete/" + id, function (result) {
                    if (result == "true") {
                        $('#cat_' + id).addClass('text-danger');
                        $("#cat_" + id).hide('slow');
                    } else {
                        alert(result);
                    }
                })
            }
        }
    </script>
}