@charset "UTF-8";
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region name*/
/*#endregion */
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
.cr-slider-wrap {
  margin: 0 !important;
  padding: 6px 0;
  background: white;
  width: 100% !important;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }

.croppie-container {
  z-index: 100;
  margin: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(4px);
  min-height: 420px; }

.popup-croppie {
  display: flex;
  width: 320px;
  height: 420px; }
  .popup-croppie #item {
    background: white;
    -moz-border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    width: 100%; }
  .popup-croppie .controls {
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    background: white;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    z-index: 110; }
    .popup-croppie .controls .button-icon {
      cursor: pointer;
      height: 52px;
      width: 52px;
      background: none;
      border: none;
      border-radius: 0;
      display: flex; }
      .popup-croppie .controls .button-icon > span {
        margin: auto;
        width: 24px;
        height: 24px;
        color: #333; }

:root {
  --star-size: 24px;
  --star-color: #b5b5b5;
  --star-background: #fc0; }

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden; }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.star-container .star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */ }
  .star-container .star-cb-group * {
    font-size: 1rem;
    font-family: Times; }
  .star-container .star-cb-group > input {
    display: none; }
    .star-container .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 3rem; }
      .star-container .star-cb-group > input + label:before {
        font-family: Times;
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #b5b5b5; }
    .star-container .star-cb-group > input:checked ~ label:before,
    .star-container .star-cb-group > input + label:hover ~ label:before,
    .star-container .star-cb-group > input + label:hover:before {
      font-family: Times;
      content: '★';
      color: #fc0;
      text-shadow: 0 0 1px #333; }
  .star-container .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-container .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-container .star-cb-group:hover > input + label:before {
    content: '★';
    color: #b5b5b5;
    text-shadow: none; }
  .star-container .star-cb-group:hover > input + label:hover ~ label:before,
  .star-container .star-cb-group:hover > input + label:hover:before {
    content: '★';
    color: #fc0;
    text-shadow: 0 0 1px #333; }

/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.nav-header {
  padding: 16px;
  background: #fff;
  position: fixed;
  width: calc(100vw - 32px); }
  .nav-header-right {
    margin-right: 14px; }
    .nav-header-right > a {
      margin-left: 12px;
      display: flex;
      flex-direction: row; }
      .nav-header-right > a > .uk-icon {
        width: 28px;
        height: 28px; }
  .nav-header-left .btn {
    font-size: 15px;
    padding: 6px 12px; }

@media only screen and (max-device-width: 512px) {
  .nav-header, .space-nav-header {
    display: none !important; } }

.nav-bottom {
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.16); }
  .nav-bottom > ul {
    padding: 16px;
    width: calc(100% - 32px);
    margin: auto;
    height: 100%; }
    .nav-bottom > ul > li {
      flex: 1;
      display: flex; }
      .nav-bottom > ul > li > a {
        width: 100%;
        align-content: center;
        text-align: center;
        display: flex;
        color: #858585; }
        .nav-bottom > ul > li > a span {
          margin: auto; }

@media only screen and (min-device-width: 512px) {
  .nav-bottom {
    display: none; } }

button, a, a:hover .js-upload, input[type=file] {
  cursor: pointer;
  outline: none;
  text-decoration: none !important; }

.trans-2s, .btn-icon {
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.btn-icon {
  color: #797979;
  background: transparent;
  border: none; }

.btn-icon:hover {
  color: #3c3c3c; }

.btn {
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 12px;
  min-width: 100px;
  text-align: center;
  font-size: 14px; }

.btn-white {
  color: black;
  background: white;
  border: 0;
  font-size: 16px; }

.btn-round {
  -moz-border-radius: 42px 42px 42px 42px;
  -webkit-border-radius: 42px 42px 42px 42px;
  border-radius: 42px 42px 42px 42px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }

.btn-primary {
  border: none;
  background: #ffac2f;
  background: -moz-linear-gradient(135deg, #ffac2f 0%, #febf36 100%);
  background: -webkit-linear-gradient(135deg, #ffac2f 0%, #febf36 100%);
  background: linear-gradient(135deg, #ffac2f 0%, #febf36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffac2f",endColorstr="#febf36",GradientType=1);
  box-shadow: 0px 6px 16px 0px rgba(255, 189, 47, 0.5);
  color: white; }

.btn-primary:hover {
  background: #ffb84e;
  background: -moz-linear-gradient(135deg, #ffb84e 0%, #fec954 100%);
  background: -webkit-linear-gradient(135deg, #ffb84e 0%, #fec954 100%);
  background: linear-gradient(135deg, #ffb84e 0%, #fec954 100%);
  color: white; }

.btn-secondary {
  border: none;
  background: #EDEDED;
  color: #505050; }

.btn-secondary:hover {
  background: #dedede;
  color: #505050; }

/*#region Form */
.form-group-bg {
  background: #E9E9E9;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 12px;
  border: 0;
  font-size: 16px;
  color: #202020;
  background-color: #E9E9E9; }

.form-group {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column; }
  .form-group .input-label {
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 8px; }
  .form-group .input {
    background: #E9E9E9;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    padding: 8px 12px;
    border: 0;
    font-size: 16px;
    color: #202020; }
  .form-group .input-invis {
    background: transparent;
    border: 0; }
  .form-group .input-error {
    margin-top: 8px;
    color: #DA4B1E;
    font-size: 14px; }

.button-panel {
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end; }

/*#endregion */
/*#region off-canvas */
/*#endregion */
/*#region Footer */
.gray-link, footer a {
  color: #bfbfbf;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.gray-link:hover, footer a:hover {
  color: #FEBA2E; }

.footer-counters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #fff;
  margin: 0;
  padding: 10px 0 42px 0;
  -moz-border-radius: 28px 28px 0 0;
  -webkit-border-radius: 28px 28px 0 0;
  border-radius: 28px 28px 0 0;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .footer-counters > li {
    display: flex;
    flex-direction: column; }
    .footer-counters > li > .counter {
      padding: 10px 0;
      margin: auto !important; }
      .footer-counters > li > .counter .column {
        margin: auto 16px auto 0; }
  .footer-counters .comments, .footer-counters .comments * {
    color: #FFCA43; }
  .footer-counters .likes, .footer-counters .likes * {
    color: #F94646; }
  .footer-counters .users, .footer-counters .users * {
    color: #9FA09E; }
  .footer-counters .resaurants, .footer-counters .resaurants * {
    color: #96D1F3; }

.footer-body {
  display: grid;
  grid-template-columns: 1fr 1fr .8fr;
  background: #231F20;
  padding: 28px 24px;
  margin: -28px 0 0 0;
  -moz-border-radius: 28px 28px 0 0;
  -webkit-border-radius: 28px 28px 0 0;
  border-radius: 28px 28px 0 0;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px; }
  .footer-body h3 {
    color: #fff; }
  .footer-body p, .footer-body .footer-text {
    color: #B5B5B5; }
  .footer-body li {
    display: flex;
    flex-direction: column; }
    .footer-body li > .column {
      margin: 0 auto; }
  .footer-body .input-fade {
    background: #282325;
    padding: 8px 20px;
    font-size: 14px;
    border: 0;
    color: #fff;
    min-width: 25vw;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    .footer-body .input-fade ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #4E4545;
      opacity: 1;
      /* Firefox */ }
    .footer-body .input-fade :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #4E4545; }
    .footer-body .input-fade ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #4E4545; }
  .footer-body .input-fade:focus {
    background: #383134; }
  .footer-body .btn-primary {
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    padding: 8px; }

.footer-social {
  padding: 16px 28px;
  background: #1E1A1B;
  display: flex;
  flex-direction: row; }
  .footer-social * {
    color: #BDBDBD; }
  .footer-social .media {
    margin-right: auto; }
    .footer-social .media .social {
      padding: 10px;
      background: #282325;
      margin-right: 12px; }
    .footer-social .media .social:hover {
      background: #383134; }

@media only screen and (max-device-width: 512px) {
  .footer-counters {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .footer-body {
    display: flex !important;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background: #231F20;
    padding: 28px 24px;
    margin: -28px 0 0 0;
    -moz-border-radius: 28px 28px 0 0;
    -webkit-border-radius: 28px 28px 0 0;
    border-radius: 28px 28px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px; }
    .footer-body li {
      display: flex;
      flex-direction: column; }
      .footer-body li > .column {
        margin: 0 0 0 auto !important; } }

@media only screen and (max-width: 724px) {
  .footer-counters {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .footer-body {
    display: flex !important;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 28px 24px;
    margin: -28px 0 0 0; }
  .footer li {
    display: flex;
    flex-direction: column; }
    .footer li > .column {
      margin: 0 0 20px 0 !important; }
  .footer-social {
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important; }
    .footer-social .media {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto; }
      .footer-social .media .social {
        padding: 10px;
        background: #282325;
        margin-right: 12px; }
      .footer-social .media .social:hover {
        background: #383134; } }

/*#endregion */
