@charset "UTF-8";
/*#region name*/
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
/*#region name*/
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
.cr-slider-wrap {
  margin: 0 !important;
  padding: 6px 0;
  background: white;
  width: 100% !important;
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }

.croppie-container {
  z-index: 100;
  margin: auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(4px);
  min-height: 420px; }

.popup-croppie {
  display: flex;
  width: 320px;
  height: 420px; }
  .popup-croppie #item {
    background: white;
    -moz-border-radius: 0 0 12px 12px;
    -webkit-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    width: 100%; }
  .popup-croppie .controls {
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    background: white;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
    z-index: 110; }
    .popup-croppie .controls .button-icon {
      cursor: pointer;
      height: 52px;
      width: 52px;
      background: none;
      border: none;
      border-radius: 0;
      display: flex; }
      .popup-croppie .controls .button-icon > span {
        margin: auto;
        width: 24px;
        height: 24px;
        color: #333; }

:root {
  --star-size: 24px;
  --star-color: #b5b5b5;
  --star-background: #fc0; }

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden; }
  .Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none; }

.star-container .star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */ }
  .star-container .star-cb-group * {
    font-size: 1rem;
    font-family: Times; }
  .star-container .star-cb-group > input {
    display: none; }
    .star-container .star-cb-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      font-size: 32px; }
      .star-container .star-cb-group > input + label:before {
        font-family: Times;
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #b5b5b5; }
    .star-container .star-cb-group > input:checked ~ label:before,
    .star-container .star-cb-group > input + label:hover ~ label:before,
    .star-container .star-cb-group > input + label:hover:before {
      font-family: Times;
      content: '★';
      color: #fc0;
      text-shadow: 0 0 1px #333; }
  .star-container .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em; }
  .star-container .star-cb-group > .star-cb-clear + label:before {
    width: .5em; }
  .star-container .star-cb-group:hover > input + label:before {
    content: '★';
    color: #b5b5b5;
    text-shadow: none; }
  .star-container .star-cb-group:hover > input + label:hover ~ label:before,
  .star-container .star-cb-group:hover > input + label:hover:before {
    content: '★';
    color: #fc0;
    text-shadow: 0 0 1px #333; }

.trans-2s, .btn-icon, .btn-icon-darkglass, .btn-primary, .btn-primary:hover {
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.mat {
  padding: 20px;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); }

.nav-header {
  padding: 16px;
  background: #231F20;
  position: fixed;
  width: calc(100vw - 32px);
  z-index: 1000;
  border-bottom: 2px solid #2B2728; }
  .nav-header .margin-header-left {
    margin-left: 12px; }
  .nav-header-right {
    margin-right: 14px; }
    .nav-header-right .logo {
      width: 42px;
      height: 42px; }
    .nav-header-right #NavMenu {
      display: none; }
    .nav-header-right > a {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
      white-space: nowrap;
      display: flex;
      flex-direction: row; }
      .nav-header-right > a > * {
        margin: auto auto; }
      .nav-header-right > a > .uk-icon {
        width: 28px;
        height: 28px;
        margin-top: auto;
        margin-bottom: auto; }
  .nav-header-left .btn-icon-darkglass {
    min-width: 32px !important;
    display: flex; }
    .nav-header-left .btn-icon-darkglass svg {
      margin: auto; }
  .nav-header-left .btn {
    padding: 8px 12px;
    min-width: 75px; }

.show-on-mobile {
  display: none; }

.hide-on-mobile {
  display: block; }

@media only screen and (max-device-width: 512px) {
  .nav-header, .space-nav-header {
    display: none !important; } }

@media only screen and (min-width: 0px) and (max-width: 780px) {
  .show-on-mobile, #NavMenu {
    display: block !important; }
  .hide-on-mobile {
    display: none !important; } }

@media only screen and (min-width: 50px) and (max-width: 580px) {
  .nav-header #txtSearch button {
    margin: 5px !important; }
  .nav-header #txtSearch input {
    display: none; } }

.nav-bottom {
  background: #fff;
  z-index: 500;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.16); }
  .nav-bottom > ul {
    padding: 16px;
    width: calc(100% - 32px);
    margin: auto;
    height: 100%; }
    .nav-bottom > ul > li {
      flex: 1;
      display: flex; }
      .nav-bottom > ul > li > a {
        width: 100%;
        align-content: center;
        text-align: center;
        display: flex;
        color: #858585; }
        .nav-bottom > ul > li > a span {
          margin: auto; }

@media only screen and (min-device-width: 512px) {
  .nav-bottom {
    display: none; } }

button, a, a:hover .js-upload, input[type=file] {
  cursor: pointer;
  outline: none;
  text-decoration: none !important; }

.btn-icon {
  color: #797979;
  background: transparent;
  border: none; }

.btn-icon:hover {
  color: #FEB432; }

.btn {
  display: inline-block;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 12px;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap; }
  .btn span {
    white-space: nowrap; }

.btn-white {
  color: black;
  background: white;
  border: 0;
  font-size: 16px; }

.btn-round {
  -moz-border-radius: 42px 42px 42px 42px;
  -webkit-border-radius: 42px 42px 42px 42px;
  border-radius: 42px 42px 42px 42px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }

.btn-primary {
  border: none;
  background: #FEB432;
  box-shadow: 0px 6px 16px 0px rgba(255, 189, 47, 0.5);
  color: white; }

.btn-primary-lowglow {
  box-shadow: 0px 6px 12px 0px rgba(255, 189, 47, 0.25) !important; }

.btn-primary:hover {
  background: #fec35b;
  box-shadow: 0px 6px 16px 0px rgba(255, 189, 47, 0.8);
  color: white; }

.input-darkglass {
  background: #322B2D;
  padding: 8px 20px;
  font-size: 14px;
  border: 0;
  color: #eee;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .input-darkglass ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4E4545;
    opacity: 1;
    /* Firefox */ }
  .input-darkglass :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4E4545; }
  .input-darkglass ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #4E4545; }

.material-darkglass {
  background: #322B2D; }

.material-darkglass:focus, .btn-darkglass:hover, .input-darkglass:focus {
  background: #423a3e;
  color: white; }

.btn-icon-darkglass:hover {
  color: white;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.4)); }

.btn-icon-darkglass {
  color: #b6b6b6;
  background: transparent;
  border: none; }

.btn-darkglass {
  border: none;
  background: #322B2D;
  color: #959595;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }

.btn-secondary {
  border: none;
  background: #EDEDED;
  color: #505050;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.btn-secondary:hover {
  background: #dedede;
  color: #505050; }

/*#region Form */
.form-group-bg {
  background: #E9E9E9;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 8px 12px;
  border: 0;
  font-size: 16px;
  color: #5a5a5a; }
  .form-group-bg ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c8c8c8;
    opacity: 1;
    /* Firefox */ }
  .form-group-bg :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c8c8c8; }
  .form-group-bg ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c8c8c8; }

.input-invis {
  background: transparent;
  border: 0; }

.form-group {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column; }
  .form-group .input-label {
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 8px; }
  .form-group .input {
    background: #E9E9E9;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    padding: 8px 12px;
    border: 0;
    font-size: 16px;
    color: #5a5a5a; }
    .form-group .input ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #c8c8c8;
      opacity: 1;
      /* Firefox */ }
    .form-group .input :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #c8c8c8; }
    .form-group .input ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #c8c8c8; }
  .form-group .input-error {
    margin-top: 8px;
    color: #DA4B1E;
    font-size: 14px; }

.button-panel {
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end; }

textarea {
  background: #f4f4f4;
  resize: vertical;
  padding: 16px;
  font-size: 15px;
  border: 0;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  color: #505050;
  min-height: 32px;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color; }
  textarea ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C0C0C0;
    opacity: 1;
    /* Firefox */ }
  textarea :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C0C0C0; }
  textarea ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #C0C0C0; }

textarea:focus {
  background: #e6e6e6;
  color: #000; }

/*#endregion */
/*#region off-canvas */
/*#endregion */
/*#region Footer */
.gray-link, footer a {
  color: #bfbfbf;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }

.gray-link:hover, footer a:hover {
  color: #FEBA2E; }

.footer {
  margin-top: 20px; }
  .footer-counters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #fff;
    margin: 0;
    padding: 10px 0 42px 0;
    -moz-border-radius: 28px 28px 0 0;
    -webkit-border-radius: 28px 28px 0 0;
    border-radius: 28px 28px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .footer-counters > li {
      display: flex;
      flex-direction: column; }
      .footer-counters > li > .counter {
        padding: 10px 0;
        margin: auto !important; }
        .footer-counters > li > .counter .column {
          margin: auto 16px auto 0; }
    .footer-counters .comments, .footer-counters .comments * {
      color: #FFCA43; }
    .footer-counters .likes, .footer-counters .likes * {
      color: #F94646; }
    .footer-counters .users, .footer-counters .users * {
      color: #9FA09E; }
    .footer-counters .resaurants, .footer-counters .resaurants * {
      color: #96D1F3; }
  .footer-body {
    display: grid;
    grid-template-columns: 1fr 1fr .8fr;
    background: #231F20;
    padding: 28px 24px;
    margin: -28px 0 0 0;
    -moz-border-radius: 28px 28px 0 0;
    -webkit-border-radius: 28px 28px 0 0;
    border-radius: 28px 28px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px; }
    .footer-body h3 {
      color: #fff; }
    .footer-body p, .footer-body .footer-text {
      color: #B5B5B5; }
    .footer-body li {
      display: flex;
      flex-direction: column; }
      .footer-body li > .column {
        margin: 0 auto; }
    .footer-body .input-fade {
      min-width: 25vw; }
    .footer-body .btn-primary {
      -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
      box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
      padding: 8px; }
  .footer-social {
    padding: 16px 28px;
    background: #1E1A1B;
    display: flex;
    flex-direction: row; }
    .footer-social * {
      color: #BDBDBD; }
    .footer-social .credits {
      margin-top: auto;
      margin-bottom: auto; }
    .footer-social .media {
      margin-right: auto; }
      .footer-social .media .social {
        padding: 10px;
        background: #282325;
        margin-right: 12px; }
      .footer-social .media .social:hover {
        background: #383134; }

@media only screen and (max-device-width: 512px) {
  /*    .footer {
        &-counters {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &-body {
            display: flex !important;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            background: #231F20;
            padding: 28px 24px;
            margin: -28px 0 0 0;
            @include border-radius(28px,28px,0,0);
            @include shadow-more;

            li {
                @include column;

                > .column {
                    margin: 0 0 0 auto !important;
                }
            }
        }
    }*/
  footer {
    display: none !important; } }

@media only screen and (max-width: 724px) {
  .footer-counters {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .footer-body {
    display: flex !important;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 28px 24px;
    margin: -28px 0 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .footer li {
    display: flex;
    flex-direction: column; }
    .footer li > .column {
      margin: 0 0 20px 0 !important; }
  .footer-social {
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important; }
    .footer-social .media {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto; }
      .footer-social .media .social {
        padding: 10px;
        background: #282325;
        margin-right: 12px; }
      .footer-social .media .social:hover {
        background: #383134; } }

/*#endregion */
.rest-block {
  width: 240px;
  height: 390px;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  position: relative; }
  .rest-block > label {
    position: absolute;
    top: 14px;
    right: 14px;
    background: white;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border-radius: 32px 32px 32px 32px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    color: #FEB432;
    padding: 6px 12px; }
  .rest-block > img {
    width: 240px;
    height: 240px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .rest-block > .info {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    height: 150px; }
    .rest-block > .info > h4 {
      color: #333;
      font-size: 18px;
      height: 51px;
      margin: 0 auto;
      margin-bottom: 8px;
      text-align: center;
      direction: rtl;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical; }
    .rest-block > .info > .star-container {
      margin: 8px auto;
      display: flex;
      flex-direction: row; }
    .rest-block > .info > address {
      direction: ltr;
      color: #9B9B9B;
      margin: 0;
      font-size: 15px;
      white-space: nowrap;
      text-overflow: clip;
      overflow: hidden; }

@media only screen and (max-device-width: 550px) {
  .rest-block {
    width: 150px !important;
    height: 230px !important;
    background: #fff;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 -6px 16px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    position: relative; }
    .rest-block > label {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 11px;
      -moz-border-radius: 24px 24px 24px 24px;
      -webkit-border-radius: 24px 24px 24px 24px;
      border-radius: 24px 24px 24px 24px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      color: #FEB432;
      padding: 3px 6px; }
    .rest-block > img {
      width: 150px;
      height: 150px;
      -moz-border-radius: 8px 8px 8px 8px;
      -webkit-border-radius: 8px 8px 8px 8px;
      border-radius: 8px 8px 8px 8px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .rest-block > .info {
      padding: 6px 8px;
      display: flex;
      flex-direction: column;
      height: 80px; }
      .rest-block > .info > h4 {
        color: #333;
        font-size: 11px;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        direction: rtl;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
      .rest-block > .info > .star-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row; }
        .rest-block > .info > .star-container .Stars {
          height: unset;
          font-size: 19px !important;
          margin: 2px 0; }
      .rest-block > .info > address {
        direction: rtl;
        color: #9B9B9B;
        margin: 0;
        font-size: 11px;
        white-space: nowrap;
        text-overflow: clip;
        overflow: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        -webkit-box-orient: vertical; }
        .rest-block > .info > address svg {
          width: 12px;
          height: 12px; } }

.carousel {
  padding: 0 0 28px 0;
  background-color: #FBF4EA;
  border: 6px solid #fff;
  margin-top: 32px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px; }
  .carousel .carousel-info {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 28px; }
    .carousel .carousel-info .tag {
      background: #fff;
      padding: 12px 12px 12px 24px;
      color: #333;
      font-size: 16px;
      justify-self: start;
      display: flex;
      margin: 0;
      -moz-border-radius: 0 0 0 16px;
      -webkit-border-radius: 0 0 0 16px;
      border-radius: 0 0 0 16px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .carousel .carousel-info .tag::before {
      content: " ";
      margin: auto 0;
      margin-left: 8px;
      height: 18px;
      width: 18px;
      background: #FEB432;
      -moz-border-radius: 12px 12px 12px 12px;
      -webkit-border-radius: 12px 12px 12px 12px;
      border-radius: 12px 12px 12px 12px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      -moz-box-shadow: rgba(254, 180, 50, 0.5) 0 6px 16px;
      -webkit-box-shadow: rgba(254, 180, 50, 0.5) 0 6px 16px;
      box-shadow: rgba(254, 180, 50, 0.5) 0 6px 16px; }
    .carousel .carousel-info .more {
      background: #fff;
      font-size: 16px;
      padding: 12px 24px;
      color: #FEB432;
      -moz-border-radius: 0 0 16px 0;
      -webkit-border-radius: 0 0 16px 0;
      border-radius: 0 0 16px 0;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .carousel .uk-position-center-left, .carousel .uk-position-center-right {
    background: #fff;
    color: #505050;
    padding: 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px; }
  .carousel ul {
    cursor: grab; }
    .carousel ul li {
      display: flex; }
  .carousel ul:active {
    cursor: grabbing; }

@media only screen and (max-device-width: 550px) {
  .carousel {
    padding: 0 0 12px 0;
    margin-top: 28px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .carousel .carousel-info {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 16px; }
      .carousel .carousel-info .tag {
        padding: 8px 8px 8px 16px;
        color: #333;
        font-size: 13px;
        justify-self: start;
        display: flex;
        margin: 0;
        -moz-border-radius: 0 0 0 16px;
        -webkit-border-radius: 0 0 0 16px;
        border-radius: 0 0 0 16px;
        /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        vertical-align: central; }
      .carousel .carousel-info .tag::before {
        content: " ";
        margin: 4px 0 0 0;
        margin-left: 8px;
        height: 12px;
        width: 12px; }
      .carousel .carousel-info .more {
        background: #fff;
        font-size: 13px;
        padding: 8px 16px 8px 0;
        color: #FEB432;
        -moz-border-radius: 0 0 16px 0;
        -webkit-border-radius: 0 0 16px 0;
        border-radius: 0 0 16px 0;
        /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .carousel .uk-position-center-left, .carousel .uk-position-center-right {
      background: #fff;
      color: #505050;
      padding: 16px;
      -moz-border-radius: 16px 16px 16px 16px;
      -webkit-border-radius: 16px 16px 16px 16px;
      border-radius: 16px 16px 16px 16px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
      box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px; }
    .carousel li {
      display: flex; } }

/*oi*/
@media only screen and (min-width: 1150px) {
  .carousel li {
    width: 25%; } }

@media only screen and (min-width: 820px) and (max-width: 1150px) {
  .carousel li {
    width: 33.33%; } }

@media only screen and (min-width: 551px) and (max-width: 820px) {
  .carousel li {
    width: 50%; } }

@media only screen and (min-width: 0) and (max-width: 551px) {
  .carousel li {
    width: 100%; } }

/*oi*/
@media only screen and (min-device-width: 1150px) {
  .carousel li {
    width: 25%; } }

@media only screen and (min-device-width: 820px) and (max-device-width: 1150px) {
  .carousel li {
    width: 33.33%; } }

@media only screen and (min-device-width: 551px) and (max-device-width: 820px) {
  .carousel li {
    width: 50%; } }

@media only screen and (min-device-width: 480px) and (max-device-width: 551px) {
  .carousel li {
    width: 33.33%; } }

@media only screen and (min-device-width: 340px) and (max-device-width: 480px) {
  .carousel li {
    width: 50%; } }

@media only screen and (min-device-width: 0) and (max-device-width: 340px) {
  .carousel li {
    width: 100%; } }

.carousel .rest-block {
  margin: auto; }

.rest-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  direction: rtl; }
  .rest-grid > .rest-block {
    margin: auto; }

.even-taglist .tag-grid {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  direction: rtl; }
  .even-taglist .tag-grid .even-tag {
    width: 100%;
    border: 2px #FEB432 solid;
    color: #FEB432;
    padding: 4px 24px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    display: block;
    background: transparent;
    cursor: pointer;
    text-align: center; }
  .even-taglist .tag-grid .even-tag:hover {
    -moz-box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
    -webkit-box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
    box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
    background: #FEB432;
    color: #fff; }

.mat-margin-top {
  margin-top: 16px; }

.popup-ios {
  background-color: #FFAC2F;
  padding: 0 !important; }
  .popup-ios * {
    color: #000; }
  .popup-ios img {
    height: calc(100vh - 280px); }
