<div class="blog-block">
    <div class="imgs">
        <img src="~/resources/jpg/Food_1.jpg" alt="" />
        <img src="~/resources/jpg/Food_2.jpg" alt="" />
        <img src="~/resources/jpg/Food_3.jpg" alt="" />
    </div>
    <h4>
        شعبه پیروزی مسعود هات داگ
    </h4>
    <div class="action-panel row">
        <a class="row date uk-margin-auto-right">
            <span>سه روز پیش</span>
            <span uk-icon="time-outline"></span>
        </a>
        <a class="row comment">
            <span>149</span>
            <span uk-icon="chatbox-ellipses-outline"></span>
        </a>
        <a class="row like">
            <span>149</span>
            <span uk-icon="heart-outline"></span>
        </a>
    </div>
</div>