@model TblDoc
<div class="blog-block">
    <a href="/" class="imgs">
        <img src="~/Images/Video/Images/@Model.MainImage1" alt="" />
        <img src="~/Images/Video/Images/@Model.MainImage2" alt="" />
        <img src="~/Images/Video/Images/@Model.MainImage3" alt="" />
    </a>
    <a href="/">
        <h4>
          @Model.Title
        </h4>
    </a>
    <div class="action-panel">
        <span class="row date uk-margin-auto-right">
            <span uk-icon="time-outline"></span>
        </span>
        @*<span class="row comment">
            <span>149</span>
            <span uk-icon="chatbox-ellipses-outline"></span>
        </span>*@
        <span class="row like">
            <span>@Model.LikeCount</span>
            <span uk-icon="heart-outline"></span>
        </span>
    </div>
</div>