<nav class="nav-bottom">
    <ul class="row">
        <li>
            <a href="">
                <span uk-icon="icon:search;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="">
                <span uk-icon="icon:person-circle-outline;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="">
                <span uk-icon="icon:location-outline;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="">
                <span uk-icon="icon:list;ratio:1.375;"></span>
            </a>
        </li>
    </ul>
</nav>