<!-- This is the off-canvas -->
<div id="Side-Menu" uk-offcanvas="flip:true;overlay:true;">
    <div class="uk-offcanvas-bar column">
        <div class="row">
            <span class="hamburger-close uk-offcanvas-close btn-icon" uk-icon="icon:hamburger-close"></span>
            <a href="/Home/Profile" class="profile-image-container"><img class="profile-image" src="/resources/jpg/Coffee.jpg" alt="عکس کاربر" width="120" height="120" /></a>
            @*<span class="sign-out uk-offcanvas-close btn-icon" dir="rtl" uk-icon="icon:square-signout"></span>*@
        </div>
        <form class="form-group form-group-bg row uk-margin-top uk-margin-remove-bottom">
            <button onclick="window.location = '/Home/Search'" class="btn-icon flex-1 row" type="submit">
                <span class="uk-margin-auto-right" uk-icon="search-outline"></span>
            </button>
            <input type="text" class="input-invis flex-auto" dir="rtl" placeholder="جستجو..." aria-label="جستجو" />
        </form>
        <ul class="uk-list">
            <li>
                <a href="/" class="uk-h4" uk-icon="home">خانه</a>
            </li>
            <li>
                <a href="#" class="uk-h4" uk-icon="information-circle-outline">درباره</a>
            </li>
            <li>
                <a href="/Home/Profile" class="uk-h4" uk-icon="person-circle-outline">پروفایل</a>
            </li>
            <li>
                <a href="#Modal-Location" class="uk-h4" uk-toggle uk-icon="location-outline">تغییر مکان</a>
            </li>
            <li>
                <a href="/Home/Search" class="uk-h4" uk-icon="search-outline">جستجو</a>
            </li>
            <li>
                <a href="/Entry/Login" class="uk-h4" uk-icon="log-in-outline">ورود</a>
            </li>
            <li>
                <a href="/Entry/Login" class="uk-h4 uk-text-danger" uk-icon="log-out-outline">خروج</a>
            </li>
        </ul>
        <button class="btn btn-primary btn-round btn-pwa">
            <span>دانلود اپلیکیشن موبایل</span>
            <span uk-icon="phone-portrait-outline"></span>
        </button>
        <label class="copyright uk-margin-auto-top">2020 کپی رایت &copy;</label>
    </div>
</div>

<!-- Mobile navigation -->
<nav class="nav-bottom">
    <ul class="row">
        <li>
            <a href="/Home/Search">
                <span uk-icon="nav_Search"></span>
                <label>جستجو</label>
            </a>
        </li>
        <li>
            <a href="/Home/Profile">
                <span uk-icon="nav_User"></span>
                <label>پروفایل</label>
            </a>
        </li>
        <li>
            <a href="#Modal-Location" uk-toggle>
                <span uk-icon="nav_Location"></span>
                <label>شهر</label>
            </a>
        </li>
        <li>
            <a href="#Side-Menu" uk-toggle>
                <span uk-icon="nav_Menu"></span>
                <label>منو</label>
            </a>
        </li>
    </ul>
</nav>
