<!-- This is the off-canvas -->
<div id="Side-Menu" uk-offcanvas="flip:true;overlay:true;">
    <div class="uk-offcanvas-bar column">
        <div class="row-reverse">
            <span class="uk-margin-auto-left uk-position-relative uk-offcanvas-close btn-icon" uk-icon="icon:hamburger-close"></span>
            <span class="uk-h4 uk-margin-remove">منو</span>
            <a href="#" class="uk-margin-auto-right btn-icon" uk-icon="icon:person-circle-outline;ratio:1.33"></a>
        </div>
        <form class="form-group form-group-bg row uk-margin-top uk-margin-remove-bottom">
            <button class="btn-icon flex-1 row" type="submit">
                <span class="uk-margin-auto-right" uk-icon="search-outline"></span>
            </button>
            <input type="text" class="input-invis flex-auto"/>
        </form>
        <ul class="uk-list">
            <li>
                <a href="#" class="uk-h4">خانه</a>
            </li>
            <li>
                <a href="#" class="uk-h4">درباره</a>
            </li>
            <li>
                <a href="#" class="uk-h4">پروفایل</a>
            </li>
            <li>
                <a href="#" class="uk-h4">تغییر مکان</a>
            </li>
            <li>
                <a href="#" class="uk-h4">جستجو</a>
            </li>
        </ul>
        <button class="btn btn-primary btn-round">
            <span>دانلود اپلیکیشن موبایل</span>
            <span uk-icon="phone-portrait-outline"></span>
        </button>
    </div>
</div>

<nav class="nav-bottom">
    <ul class="row">
        <li>
            <a href="#">
                <span uk-icon="icon:search;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span uk-icon="icon:person-circle-outline;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span uk-icon="icon:location-outline;ratio:1.375;"></span>
            </a>
        </li>
        <li>
            <a href="#Side-Menu" uk-toggle>
                <span uk-icon="icon:list;ratio:1.375;"></span>
            </a>
        </li>
    </ul>
</nav>
