<!-- This is the off-canvas -->
<div id="Side-Menu" uk-offcanvas="flip:true;overlay:true;">
    <div class="uk-offcanvas-bar column">
        <div class="row">
            <span class="hamburger-close uk-offcanvas-close btn-icon" uk-icon="icon:hamburger-close"></span>
            <a href="/Home/Profile" class="profile-image-container"><img class="profile-image" src="/resources/jpg/Coffee.jpg" alt="عکس کاربر" width="120" height="120" /></a>
            @*<span class="sign-out uk-offcanvas-close btn-icon" dir="rtl" uk-icon="icon:square-signout"></span>*@
        </div>
        @*<form class="form-group form-group-bg row uk-margin-top uk-margin-remove-bottom">
                <button onclick="window.location = '/Home/Search'" class="btn-icon flex-1 row" type="submit">
                    <span class="uk-margin-auto-right" uk-icon="search-outline"></span>
                </button>
                <input type="text" class="input-invis flex-auto" dir="rtl" placeholder="جستجو..." aria-label="جستجو" />
            </form>*@
    <ul class="uk-list">
        <li>
            <a href="/" class="uk-h4">
                <span uk-icon="home"></span>
                <span>خانه</span>
            </a>
        </li>
        <li>
            <a href="/Home/About" class="uk-h4">
                <span uk-icon="information-circle-outline"></span>
                <span>درباره</span>
            </a>
        </li>
        <li>
            <a href="/Home/ContactUs" class="uk-h4">
                <span uk-icon="globe-outline"></span>
                <span>تماس با ما</span>
            </a>
        </li>
        <li>
            <a href="#Modal-Location" class="uk-h4">
                <span uk-icon="location-outline"></span>
                <span>تغییر مکان</span>
            </a>
        </li>
        <li>
            <a href="/Home/Search" class="uk-h4">
                <span uk-icon="search-outline"></span>
                <span>جستجو</span>
            </a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.Claims.Last().Value == "user")
            {
                <li>
                    <a href="/User/User/Index" class="uk-h4">
                        <span uk-icon="person-circle-outline"></span>
                        <span>پروفایل</span>
                    </a>
                </li>
            }
            else if (User.Claims.Last().Value == "author")
            {
                <li>
                    <a href="/Admin/Home/Index" class="uk-h4">
                        <span uk-icon="person-circle-outline"></span>
                        <span>پروفایل</span>
                    </a>
                </li>
            }
            else if (User.Claims.Last().Value == "admin")
            {
                <li>
                    <a href="/Admin/Home/Index" class="uk-h4">
                        <span uk-icon="person-circle-outline"></span>
                        <span>پروفایل</span>
                    </a>
                </li>
            }
            <li>
                <a href="/Account/LogOut" class="uk-h4 uk-text-danger">
                    <span uk-icon="log-out-outline"></span>
                    <span>خروج</span>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="/Account/Login" class="uk-h4">
                    <span uk-icon="log-in-outline"></span>
                    <span>ورود</span>
                </a>
            </li>
        }

    </ul>
        <button class="hideOnStandalone btn btn-primary btn-round btn-pwa">
            <span>دانلود اپلیکیشن موبایل</span>
            <span uk-icon="phone-portrait-outline"></span>
        </button>
        @*<label class="copyright uk-margin-auto-top">2020 کپی رایت &copy;</label>*@
    </div>
</div>

<!-- Mobile navigation -->
<nav class="nav-bottom">
    <ul class="row">
        <li>
            <a href="/Home/Search">
                <span uk-icon="nav_Search"></span>
                <label>جستجو</label>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li style="display:none">
                <a href="/User/User/Index">
                    <span uk-icon="nav_User"></span>
                    <label>پروفایل</label>
                </a>
            </li>
        }
        else
        {
            <li style="display:none">
                <a href="/User/User/Index">
                    <span uk-icon="nav_User"></span>
                    <label>ورود</label>
                </a>
            </li>
        }

        <li>
            <a href="#Modal-Location" uk-toggle>
                <span uk-icon="nav_Location"></span>
                <label>شهر</label>
            </a>
        </li>
        <li>
            <a href="#Side-Menu" uk-toggle>
                <span uk-icon="nav_Menu"></span>
                <label>منو</label>
            </a>
        </li>
    </ul>
</nav>
