<a href="" class="rest-block">
    <label>دسر ها</label>
    <img src="~/resources/png/food_1.png"
         width="300" height="300"
         alt="عکس رستوران" />
    <div class="info">
        <h4>
            رستوران بسیار شیک و با کلاس و گران قیمت با امتیاز بالا
            رستوران بسیار شیک و با کلاس و گران قیمت با امتیاز بالا
        </h4>
        <div class="star-container" uk-tooltip="2.5">
            <div class="Stars" style="--rating:  2.5"></div>
        </div>
        <h6 uk-icon="location-outline">
            ائل گلی، روبه‌روی هتل شهریار
        </h6>
    </div>
</a>