
@{
    ViewBag.Title = "تغییر رمز عبور";
    ViewBag.BodyClass = "";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<form class="column">

    <div class="form-group">
        <label class="input-label" for="password">رمز عبور جدید</label>
        <input class="input" type="password" name="password" placeholder="..." />
        <span class="input-error">این فیلد اشتباه وارد شده است</span>
    </div>

     <div class="form-group">
        <label class="input-label" for="repassword">تکرار رمز عبور</label>
        <input class="input" type="password" name="repassword" placeholder="..." />
        <span class="input-error">این فیلد اشتباه وارد شده است</span>
    </div>

    <div class="button-panel">
        <button class="btn btn-primary">تغییر</button>
    </div>

</form>


