
@{
    ViewBag.Title = "لینک بازیابی فرستاده شد";
    ViewBag.BodyClass = "";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

    <form class="column">

        <p class="column">
            لینک بازیابی رمز عبور به شماره
            <span class="uk-h3 uk-margin-small-top uk-margin-remove-bottom">
                093555932930
            </span>
            فرستاده شد
        </p>

        <a class="uk-margin-bottom" href="">شماره اشتباه است؟</a>

        <div class="button-panel">
            <button class="btn btn-primary">ارسال دوباره</button>
        </div>

    </form>
