
@{
    ViewBag.Title = "بازیابی رمز عبور";
    ViewBag.BodyClass = "";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<form class="column">

    <p class="column">
        برای بازیابی رمز ورود خود، شماره تلفن خود را وارد کنید
    </p>

    <div class="form-group">
        <label class="input-label" for="tel">شماره تلفن</label>
        <input class="input" type="tel" name="tel" placeholder="..." />
        <span class="input-error">این فیلد اشتباه وارد شده است</span>
    </div>

    <div class="button-panel">
        <button class="btn btn-primary">بازیابی</button>
        <button class="btn btn-secondary uk-margin-right">ورود</button>
    </div>

</form>
