@{
    ViewBag.Title = "ورود";
    ViewBag.BodyClass = "entry-2";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<form>

    <div class="form-group">
        <label class="input-label" for="txtTel">شماره تلفن</label>
        <input class="input" autocomplete="username" type="tel" name="txtTel" placeholder="..." />
        <span class="input-error">این فیلد اشتباه وارد شده است</span>
    </div>

    <div class="form-group">
        <label class="input-label" for="txtPassword">گذرواژه</label>
        <input class="input" autocomplete="current-password" type="tel" name="txtPassword" placeholder="..." />
        <span class="input-error">این فیلد اشتباه وارد شده است</span>
    </div>

    <div class="form-group">
        <a href="/Entry/ForgotPassword" class="anchor">
            رمز عبور خود را فراموش کرده اید؟
        </a>
    </div>

    <div class="button-panel">
        @*<button class="btn btn-primary">ورود</button>*@
        <a href="/Home/Profile" class="btn btn-primary">ورود</a>
        <a href="/Entry/Register" class="btn btn-secondary uk-margin-right">ثبت نام</a>
    </div>

</form>
