
@{
    ViewBag.Title = "احراز هویت";
    ViewBag.BodyClass = "entry-3";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

    <form class="column">

        <p class="column">
            کد احراز هویت شما به شماره
            <span class="uk-h3 uk-margin-small-top uk-margin-remove-bottom">
                093555932930
            </span>
            فرستاده شد
        </p>

        <a class="uk-margin-bottom" href="">شماره اشتباه است؟</a>

        <div class="form-group">
            <label class="input-label" for="validation">کد احراز</label>
            <input class="input" type="tel" name="validation" placeholder="..." />
            <span class="input-error">این فیلد اشتباه وارد شده است</span>
        </div>

        <div class="button-panel">
            <button class="btn btn-primary">احراز</button>
            <button class="btn btn-secondary uk-margin-right">بازگشت</button>
        </div>

    </form>



