
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <div class="row justify-content-end">
            <div class="col-md-10 col-12">
                <div class="card-form row">
                    <div class="form-input col-md-8">
                        <div class="form-inline">
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="کد">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="نام">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="شماره تماس">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="ایمیل">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="کیف پول">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <select id="DegreeSearch" class="form-control form-control-sm">
                                    <option value="0" selected="">فعال بودن</option>
                                    <option value="1">فعال</option>
                                    <option value="2">غیر فعال</option>
                                </select>
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <input class="form-control form-control-sm" type="text" placeholder="گذرواژه">
                            </div>
                            <div class="form-group mx-sm-1 mb-2">
                                <select id="DegreeSearch" class="form-control form-control-sm">
                                    <option value="0" selected="">همه</option>
                                    <option value="1">مدیر اصلی</option>
                                    <option value="2">مدیر محتوا</option>
                                    <option value="3">کاربران</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-toolbar col-md-3">
                        <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>جستجو</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-3 pl-2 pr-0">
                <a href="/Admin/User/Create" class="btn btn-success btn-sm text-white float-left"><i class="fas fa-plus-circle"></i>افزودن</a>
            </div>
        </div>
    </div>
    <div id="card-table" class="p-0 card-body flex-div">
        <div class="table-responsive flex">
            <table class="table fixed pr-3">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">کد</th>
                        <th scope="col">نام</th>
                        <th scope="col">شماره تماس</th>
                        <th scope="col">ایمیل</th>
                        <th scope="col">کیف پول</th>
                        <th scope="col">فعال</th>
                        <th scope="col">گذرواژه</th>
                        <th scope="col">مدارک</th>
                        <th scope="col">گردش مالی</th>
                        <th scope="col">نقش</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            هادی
                        </td>
                        <td>
                            09035190611
                        </td>
                        <td>Had@Gmail.com</td>
                        <td>136,000</td>
                        <td>
                            <span class="badge-success badge-pill">بله</span>
                            <!--یا-->
                            <span class="badge-danger badge-pill">خیر</span>
                        </td>
                        <td>123456</td>
                        <td>
                            <a href="" class="fa fa-eye" title="مشاهده مدارک" data-toggle="tooltip" data-placement="top">
                            </a>
                        </td>
                        <td>
                            <a href="" class="fa fa-eye" title="مشاهده گردش های مالی" data-toggle="tooltip" data-placement="top">
                            </a>
                        </td>
                        <td>
                            <small class="text-info">مدیر اصلی- 2 پکیج</small>
                        </td>
                        <td>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                                <a href="/Admin/User/Edit/1"><i class="btn fas fa-edit mr-2 text-primary"></i></a>
                            </span>
                            <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                <a onclick="BtnUserDeletePaper(1)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-trash mr-2 text-danger"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">

                <li class="page-item d-none">
                    <a class="page-link" onclick="Page(0)">قبلی</a>
                </li>

                <li class="page-item">
                    <select id="pageNumber" class="custom-select custom-select-sm">
                        <option class="page-item" value="1" selected="">صفحه 1 از 1</option>
                    </select>
                </li>

                <li class="page-item d-none">
                    <a class="page-link" onclick="Page(2)">بعدی</a>
                </li>

                <li>
                    <select id="InPageCount" class="custom-select custom-select-sm">
                        <option value="0" selected="">18 در هر صفحه</option>
                        <option value="20">20 در هر صفحه</option>
                        <option value="30">30 در هر صفحه</option>
                        <option value="40">40 در هر صفحه</option>
                    </select>
                </li>

            </ul>
        </nav>
    </div>
</div>