
@{
    ViewData["Title"] = "ViewSingle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="flex-column card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <h4>#1568</h4>
    </div>
    <div class="card-body">
        <dl class="data-list flex-row">
            <dt>نام</dt>
            <dd>صدرا محمدی</dd>
            <dt>شماره تماس</dt>
            <dd>0914 315 82 65</dd>
            <dt>ایمیل</dt>
            <dd>thisIsAnEmail@gmail.com</dd>
            <dt>کیف پول</dt>
            <dd>136,000</dd>
            <dt>فعال بودن</dt>
            <dd>بله</dd>
            <dt>گذرواژه</dt>
            <dd>1234</dd>
            <dt>مدارک</dt>
            <dd>
                <a href="">مشاهده</a>
            </dd>
            <dt>گردش مالی</dt>
            <dd>
                <a href="">مشاهده</a>
            </dd>
            <dt>نقش</dt>
            <dd>کاربر</dd>
        </dl>
    </div>
</div>

