@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/Pages/About.min.css" rel="stylesheet" />
}

<div class="intro">
    <img class="img" width="680" height="475" src="~/resources/png/about.png" alt="" />
    <div class="text column">
        <h3>
            درباره این وبسایت
        </h3>
        <p>
            اپلیکیشن فودیسم بزرگ ترین شبکه اجتماعی غذا در ایران که بهت کمک میکنه بهترین رستوران ها، کافه ها و سایر خوردنی فروشی های شهرت رو پیدا کنی و دیگه هیچ وقت غذای بد نخوری! تو این اپلیکیشن میتونی اطلاعات بیش از 7000 خوردنی فروشی در ایران رو ببینی، از طریق لیست ها، گزارش های فودیسم و نقشه اطرافت خوردنی فروشی های مد نظرت رو کشف کنی و حتی از بعضی هاشون تخفیف هم بگیری. در یک کلام فودیسم دستیار رستوران گردی و کافه گردی (شکم گردی) شماست!!
        </p>

        @if (!User.Identity.IsAuthenticated)
        {
            <button onclick="window.location = '/Account/Login'"
                    class="btn btn-white btn-round uk-margin-small-top uk-margin-auto-left uk-box-shadow-hover-medium">
                دست به کار شو
            </button>
        }

    </div>
</div>

<div class="app">
    <div class="text column uk-margin-auto-vertical">
        <h3>
            وب اپلیکیشن فودیسم
        </h3>
        <p>
            اپلیکیشن فودیسم بزرگ ترین شبکه اجتماعی غذا در ایران که بهت کمک میکنه بهترین رستوران ها، کافه ها و سایر خوردنی فروشی های شهرت رو پیدا کنی و دیگه هیچ وقت غذای بد نخوری! تو این اپلیکیشن میتونی اطلاعات بیش از 7000 خوردنی فروشی در ایران رو ببینی، از طریق لیست ها، گزارش های فودیسم و نقشه اطرافت خوردنی فروشی های مد نظرت رو کشف کنی و حتی از بعضی هاشون تخفیف هم بگیری. در یک کلام فودیسم دستیار رستوران گردی و کافه گردی (شکم گردی) شماست!!
        </p>
        <button class="btn btn-primary btn-round uk-margin-auto-left btn-pwa">
            <span>دریافت اپلیکیشن موبایل</span>
            <span uk-icon="phone-portrait-outline"></span>
        </button>
    </div>
    <img class="img" src="~/resources/svg/getapp.svg" width="500" height="500" alt="" />
</div>

<div class="outro">
    <div class="text column">
        <h3>
            درباره این وبسایت
        </h3>
        <p>
            اپلیکیشن فودیسم بزرگ ترین شبکه اجتماعی غذا در ایران که بهت کمک میکنه بهترین رستوران ها، کافه ها و سایر خوردنی فروشی های شهرت رو پیدا کنی و دیگه هیچ وقت غذای بد نخوری! تو این اپلیکیشن میتونی اطلاعات بیش از 7000 خوردنی فروشی در ایران رو ببینی، از طریق لیست ها، گزارش های فودیسم و نقشه اطرافت خوردنی فروشی های مد نظرت رو کشف کنی و حتی از بعضی هاشون تخفیف هم بگیری. در یک کلام فودیسم دستیار رستوران گردی و کافه گردی (شکم گردی) شماست!!
        </p>
        <div class="media uk-margin-small-top row-reverse">
            <a href="#" class="social " aria-label="پینترست">
                <span uk-icon="logo-pinterest"></span>
            </a>
            <a href="#" class="social " aria-label="لینکدین">
                <span uk-icon="logo-linkedin"></span>
            </a>
            <a href="#" class="social uk-margin-auto-left row-reverse">
                <span class="uk-margin-small-right" uk-icon="logo-instagram"></span>
                <span class="uk-margin-small-right uk-margin-small-left">اینستاگرام</span>
            </a>
        </div>
    </div>
    <img class="img" src="~/resources/svg/walk.svg" alt="" />
</div>