@model TblCatagory
@{
    ViewData["Title"] = "CategoryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/Pages/CategoryView.min.css" rel="stylesheet" />
}

@{
    string bannerPath = (string.IsNullOrEmpty(Model.ImageUrl) ? "/Images/NoImage.svg" : $"/Images/Catagory/{Model.ImageUrl}");
}

<div class="banner column uk-height-large uk-background-cover uk-margin-medium-bottom uk-light uk-flex" uk-parallax="bgy: -200"
      style="background-image: url('@bannerPath');">
    <div class="column uk-margin-auto-bottom">
        <div class="banner-text column">
            <h1 class="uk-text-center uk-margin-small-bottom uk-margin-auto uk-margin-remove-vertical">@Model.Name</h1>
            @*<p class="uk-margin-remove-vertical text-center">
                    تاوا کباب (در فارسی کباب تابه ای) یکی از کباب های خوشمزه و پر طرفدار ما ایرانی هاست، در این فهرست رستوران هایی در تبریز که تاوا کباب معروف و خوشمزه ای دارند برای شما جمع آوری شده
                </p>*@
        </div>
    </div>

</div>

<div class="uk-container">
    <div class="rest-grid">
        @if (Model.TblRestaurant.Any())
        {
            foreach (var item in Model.TblRestaurant)
            {
                <partial name="_RestaurantBlock" model="item" />
            }
        }
        <div role="none"></div>
        <div role="none"></div>
        <div role="none"></div>
        <div role="none"></div>

    </div>

</div>

