@model TblConfig
@{
    ViewBag.Title = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/Pages/About.min.css" rel="stylesheet" />
}

<div class="uk-container">
    <div class="mat card uk-margin-medium-top uk-margin-bottom">

        @Html.Raw(Model.Value)


    </div>
</div>