<div class="hero column">
    <div class="hero-alternate uk-margin-auto-vertical">
        @*<div class="hero-navi row">
                <a href="" uk-icon="icon:person-circle-outline;ratio:1" class="button-icon"></a>
                <a href="" uk-icon="icon:logo-angular;ratio:1" class="button-icon uk-margin-auto-left"></a>
            </div>*@
        <div class="hero-splash uk-margin-auto-vertical">
            <h1 class="uk-h1  uk-margin-small-bottom">
                دنبال یه جای خوب برای
                <br />
                وقت گذروندن می گردی؟
            </h1>
            <h2 class="uk-h1 uk-margin-remove-top">
                <strong dir="rtl"> جای درستی اومدی...</strong>
            </h2>
        </div>
        <img src="~/resources/svg/LookingForFood.svg"
             class="hero-image uk-margin-auto-right"
             width="430" height="386" alt="Hero image, man looking for food" />
        <button onclick="window.location='/Entry/Login'" class="hero-button btn btn-white uk-margin-top">دست به کار شو</button>
    </div>
</div>
