<div class="hero column">
    <div class="hero-alternate uk-margin-auto-vertical">
        @*<div class="hero-navi row">
                <a href="" uk-icon="icon:person-circle-outline;ratio:1" class="button-icon"></a>
                <a href="" uk-icon="icon:logo-angular;ratio:1" class="button-icon uk-margin-auto-left"></a>
            </div>*@
        <div class="hero-splash uk-margin-auto-vertical">
            <h1 class="uk-h1  uk-margin-small-bottom" uk-scrollspy="cls:uk-animation-fade;delay:200">
                دنبال یه جای خوب برای
                <br />
                وقت گذروندن می گردی؟
            </h1>
            <h2 class="uk-h1 uk-margin-remove-top" uk-scrollspy="cls:uk-animation-fade;delay:1000">
                <strong dir="rtl"> جای درستی اومدی...</strong>
            </h2>
        </div>
        <img src="~/resources/svg/LookingForFood.svg" uk-scrollspy="cls:uk-animation-fade;delay:200"
             class="hero-image uk-margin-auto-right"
             width="430" height="386" alt="Hero image, man looking for food" />
        <form class="hero-button row uk-box-shadow-small uk-box-shadow-hover-large" uk-scrollspy="cls:uk-animation-fade;delay:1800">
            <button uk-icon="search" class="flex-auto" aria-label="جستجو"></button>
            <input type="text" id="txtCategory" oninput="txtTypeChanged(this.value)" class="input-invis flex-1" dir="rtl" aria-label="نوع رستوران" placeholder="نوع رستوران" />
            <div class="category-drop" uk-drop="mode: click; pos: bottom-justify">
                <ul class="uk-margin-remove" id="drop"></ul>
            </div>
            <input type="text" id="txtSearcher" class="input-invis flex-3" dir="rtl" aria-label="جستجو" placeholder="جستجو..." />
        </form>
    </div>
</div>

<script>

    //const categories = fetch().then(i => i);
    //const categories = [
    //    {
    //        id: 1,
    //        name: 'کافه',
    //    },
    //    {
    //        id: 2,
    //        name: 'رستوران',
    //    },
    //    {
    //        id: 3,
    //        name: 'فست فود',
    //    },
    //    {
    //        id: 4,
    //        name: 'دونر',
    //    },
    //    {
    //        id: 5,
    //        name: 'نوتلا',
    //    }
    //];

    const categories = [
        'کافه',
        'رستوران',
        'فست فود',
        'دونر',
        'نوتلا'
    ];

    function txtTypeChanged(val) {
        const drop = document.getElementById('drop');

        UIkit.drop(document.getElementsByClassName('category-drop')[0]).show();

        drop.innerHTML = '';
        for (let cat of categories.filter(i => i.includes(val))) {
            const li = document.createElement('li');
            li.innerText = cat;
            li.addEventListener('click', () => {
                document.getElementById('txtCategory').value = cat;
                UIkit.drop(document.getElementsByClassName('category-drop')[0]).hide(0);
            });
            drop.appendChild(li);
        }
        if (drop.children.length == 0) {
            UIkit.drop(document.getElementsByClassName('category-drop')[0]).hide(0);
        }
    }
</script>