@model HomeImageTextVm
<div class="hero column">
    <div class="hero-alternate uk-margin-auto-vertical">
        @*<div class="hero-navi row">
                <a href="" uk-icon="icon:person-circle-outline;ratio:1" class="button-icon"></a>
                <a href="" uk-icon="icon:logo-angular;ratio:1" class="button-icon uk-margin-auto-left"></a>
            </div>*@
        <div class="hero-splash uk-margin-auto-vertical">
            @*@Html.Raw(Model.MainText)*@
            <h1 class="uk-h1  uk-margin-small-bottom" uk-scrollspy="cls:uk-animation-fade;delay:200">
                دنبال یه جای خوب برای
                <br />
                وقت گذروندن می گردی؟
            </h1>
            <h2 class="uk-h1 uk-margin-remove-top" uk-scrollspy="cls:uk-animation-fade;delay:1000">
                <strong dir="rtl"> جای درستی اومدی...</strong>
            </h2>
        </div>
        <img src="~/resources/svg/LookingForFood.svg" uk-scrollspy="cls:uk-animation-fade;delay:200"
             class="hero-image uk-margin-auto-right"
             width="430" height="386" alt="Hero image, man looking for food" />
        <div class="searcher">
            <form asp-action="Search" asp-controller="Home" method="get" asp-area="" class="hero-button row uk-box-shadow-small uk-box-shadow-hover-large" uk-scrollspy="cls:uk-animation-fade;delay:1800">
                <button uk-icon="search" class="flex-auto" aria-label="جستجو"></button>
                <input type="text" id="txtCategory" oninput="txtTypeChanged(this.value)" name="nameFood" class="input-invis flex-1" dir="rtl" aria-label=" غذا" placeholder="نوع رستوران" />
                <div class="category-drop" uk-drop="mode: click; pos: top-justify">
                    <ul class="uk-margin-remove" id="drop"></ul>
                </div>
                <div role="none" class="divider"></div>
                <input type="text" id="txtSearcher" name="name" class="input-invis flex-3" dir="rtl" aria-label="جستجو" placeholder="جستجو..." />
            </form>
            <div class="category-slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-scrollspy="cls:uk-animation-fade;delay:2600"
                 uk-slider="autoplay:true;autoplay-interval: 2000">
                <ul class="uk-slider-items uk-child-width-1-4-at-s uk-child-width-1-4-at-m uk-child-width-1-5-at-l">

                    @await Component.InvokeAsync("CategoryVm")

                </ul>

                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
        </div>
    </div>
</div>