@model HomeImageTextVm
@{
    ViewBag.Title = "فودستان ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Index.min.css" rel="stylesheet" />
}

<partial name="Hero" model="Model" />

<div class="uk-container">

    <!-- #region Grid -->

    <div class="grid-categories uk-margin-medium-top">
        @await Component.InvokeAsync("CategoryGridShowInHomeVm")
    </div>

    <!-- #endregion -->
    @await Component.InvokeAsync("CategoryShowInHomeVm")

</div>

<!-- #region Parallax -->

<div class="parallax-download uk-margin-medium-top uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top"
     uk-parallax="bgy: -300">
    <div class="parralax-overlay-blur"></div>
    <div class="parralax-content uk-width-1-2-at-l uk-width-2-3-at-m uk-width-4-5-at-s column uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 class=" uk-margin-auto">دانلود اپلیکیشن</h1>
        <p class="uk-margin-left uk-margin-right uk-margin-remove-top">
            یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه د آنها به نوعی وابسته به متن می‌باشد آنها با استفاد ساختگی، صفحه گرافیکی خود
        </p>
        <button class="uk-margin-auto-left uk-margin-auto-right btn btn-primary btn-round btn-pwa">
            <span class="uk-margin-auto-vertical">دانلود</span>
            <span uk-icon="phone-portrait-outline"></span>
        </button>
    </div>
</div>

<!-- #endregion -->
@*@await Component.InvokeAsync("VideoInHomeVm")*@
@*<div class="uk-container column  uk-margin-medium-top ">
        <h3 class="uk-margin-auto">
            اسکرین شات های اپ موبایل
        </h3>
        <div class="uk-position-relative uk-visible-toggle uk-margin-top uk-margin-bottom"
             tabindex="-1" uk-slider>

            <ul class="uk-slider-items
                uk-child-width-1-3-at-s
                uk-child-width-1-4-at-m
                uk-child-width-1-5-at-l
                uk-child-width-1-5-at-xl">

                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>
                <li class="column">
                    <img class="uk-margin-auto" src="https://picsum.photos/100/250" height="360" alt="" />
                </li>

            </ul>

            <a class="uk-position-center-left  uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
    </div>

    <div class="blog-carousel">
        <div class="uk-container">

            <div class="rest-carousel-info">
                <h4 tabindex="-1" class="tag uk-margin-auto-left uk-box-shadow-medium" dir="rtl">
                    گزارش ها
                </h4>
                <a href="" tabindex="-1" dir="rtl" class="more uk-margin-auto-right uk-box-shadow-medium">
                    <span>بیشتر</span>
                    <span uk-icon="chevron-back"></span>
                </a>
            </div>

            <div class="uk-position-relative uk-visible-toggle"
                 tabindex="-1" uk-scrollspy="cls:uk-animation-slide-top-medium;delay:0" uk-slider>

                <ul class="uk-slider-items uk-grid
                uk-child-width-1-2-at-s
                uk-child-width-1-3-at-m
                uk-child-width-1-3-at-l
                uk-child-width-1-4-at-xl
                ">
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                    <li>
                        <partial name="_BlogBlock" />
                    </li>
                </ul>

                <a class="uk-position-center-left  uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>
        </div>

    </div>*@



<div class="uk-container">
    @await Component.InvokeAsync("CategoryShowInHomeSingleVm")
</div>

@section Scripts {

    <script>

        //const categories = [
        //    'کافه',
        //    'رستوران',
        //    'فست فود',
        //    'دونر',
        //    'نوتلا'
        //];
        function txtTypeChanged(val) {
            // -------------------------------------------------------------------------------------<<
            return;
            const drop = document.getElementById('drop');

            UIkit.drop(document.getElementsByClassName('category-drop')[0]).show();

            drop.innerHTML = '';
            for (let cat of categories.filter(i => i.includes(val))) {
                const li = document.createElement('li');
                li.innerText = cat;
                li.addEventListener('click', () => {
                    document.getElementById('txtCategory').value = cat;
                    UIkit.drop(document.getElementsByClassName('category-drop')[0]).hide(0);
                });
                drop.appendChild(li);
            }
            if (drop.children.length == 0) {
                UIkit.drop(document.getElementsByClassName('category-drop')[0]).hide(0);
            }
        }

        txtTypeChanged('');
        UIkit.drop(document.getElementsByClassName('category-drop')[0]).hide(0);

    </script>

}
