@{
    ViewBag.Title = "نام وبسایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Index.min.css" rel="stylesheet" />
}

<partial name="Hero" />

<div class="uk-container">

    <!-- #region Grid -->

    <div class="grid-categories uk-margin-medium-top">
        <a class="category" style="">
            <h3><span>کباب</span></h3>
        </a>
        <a class="category">
            <h3><span>دونر</span></h3>
        </a>
        <a class="category">
            <h3><span>غذای مکزیکی</span></h3>
        </a>
        <a class="category">
            <h3><span>صبحانه دبش</span></h3>
        </a>
        <a class="category">
            <h3><span>فضای رمانتیک</span></h3>
        </a>
        <a class="category">
            <h3><span>پیتزا و فست فود</span></h3>
        </a>
        <a class="category">
            <h3><span>مرغ سوخاری</span></h3>
        </a>
        <a class="category">
            <h3><span>غذای ویگن</span></h3>
        </a>
    </div>

    <!-- #endregion -->

    <a href="" class="row-reverse uk-margin-medium-top uk-margin-small-bottom">
        <h4 class="tag uk-box-shadow-medium" dir="rtl">فست فود و پیتزا</h4>
    </a>
    <partial name="_RestaurantCarousel" />

    <a href="" class="row-reverse uk-margin-medium-top uk-margin-small-bottom">
        <h4 class="tag uk-box-shadow-medium" dir="rtl">فست فود و پیتزا</h4>
    </a>
    <partial name="_RestaurantCarousel" />

</div>

<!-- #region Parallax -->

<div class="parallax-download uk-margin-medium-top uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top"
     uk-parallax="bgy: -300">
    <div class="parralax-overlay-blur"></div>
    <div class="parralax-content uk-width-1-2-at-l uk-width-2-3-at-m uk-width-4-5-at-s column uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 class=" uk-margin-auto">دانلود اپلیکیشن</h1>
        <p>
            یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه د آنها به نوعی وابسته به متن می‌باشد آنها با استفاد ساختگی، صفحه گرافیکی خود
        </p>
        <button uk-icon="phone-portrait-outline"
                class="uk-margin-auto-left uk-margin-auto-right btn btn-primary btn-round btn-pwa">
            دانلود
        </button>
    </div>
</div>

<!-- #endregion -->

<div class="uk-container">
    <a href="" class="row-reverse uk-margin-medium-top uk-margin-small-bottom">
        <h4 class="tag uk-box-shadow-medium" dir="rtl">فست فود و پیتزا</h4>
    </a>
    <partial name="_RestaurantCarousel" />
</div>

@section Scripts {

}
