@model IEnumerable<TblRestaurant>

@{
    ViewBag.Title = "جستجوی رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Search.min.css" rel="stylesheet" />
}

<!-- #region Location -->

<partial name="/Views/Shared/_FoodTypeSelector.cshtml">


    <!-- #endregion -->

    <form class="search-filter mat" asp-action="Search" asp-controller="Home" asp-area="">
        @*<button id="btnSearch" class="btn btn-primary" aria-label="جسنجو رستوران">
                <span uk-icon="search"></span>
            </button>*@
        <input id="btnSearch" type="submit" class="btn btn-primary" aria-label="جستجو رستوران" value="جستجو" />
        <div id="btnFood" type="button" uk-toggle="#Modal-Food" aria-label="انتخاب نوع غذا"
             class="form-group-bg row-reverse searchbar-margin-left">
            <span class="uk-margin-small-left" uk-icon="grid-outline"></span>
            <input readonly class="input-invis" id="foodType" name="foodType" value="نوع غذا">
        </div>
        <div id="selectOrder" class="form-group-bg">
            <select class="form-group-bg uk-padding-remove" dir="rtl" name="orderBy">
                <option value="0">مرتب کردن</option>
                <option value="1">از کمترین  امتیاز</option>
                <option value="2">از بیشترین  امتیاز</option>
            </select>
        </div>
        <div id="btnCity" type="button" uk-toggle="#Modal-Location" aria-label="انتخاب شهر"
             class="form-group-bg row-reverse searchbar-margin-left">
            <span uk-icon="location-outline"></span>
            <input readonly class="input-invis" id="CityInput" name="CityInput" value="شهر">
        </div>
        <input tabindex="1" id="txtType" name="nameFood" type="text" class="form-group-bg" placeholder=" غذا" value="@ViewBag.nameFood" />
        <input tabindex="2" id="address" name="name" type="text" class="form-group-bg" placeholder="نام مکان" value="@ViewBag.name" />
    </form>

    <div role="none" class="space-search uk-margin-medium-bottom"></div>

    <div class="uk-container column">

        <!-- #region Searchbar -->
        <!--<form class="searchbar">
            <input type="text" class="form-group-bg searchbar-margin-left" placeholder="نام رستوران" aria-label="نام رستوران" />
            <button type="button" uk-toggle="#Modal-Location" aria-label="انتخاب شهر"
                    class="form-group-bg row-reverse searchbar-margin-left">
                <span uk-icon="location-outline"></span>
                <span>انتخاب شهر</span>
            </button>
            <button type="button" uk-toggle="#Modal-Food" aria-label="انتخاب نوع غذا"
                    class="form-group-bg row-reverse searchbar-margin-left">
                <span class="uk-margin-small-left" uk-icon="grid-outline"></span>
                <span>نوع غذا</span>
            </button>
            <button class="btn btn-primary" aria-label="جسنجو رستوران">
                <span uk-icon="search"></span>
            </button>
        </form>-->
        <!-- #endregion -->
        <!-- #region Grid -->

        <div class="rest-grid">

            @foreach (var item in Model)
            {
                <partial name="_RestaurantBlock" model="item" />
            }

        </div>

        <!-- #endregion -->

    </div>