@{
    ViewBag.Title = "جستجوی رستوران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Search.min.css" rel="stylesheet" />
}

<!-- #region Location -->

<div id="Modal-Food" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4">نوع غذا</h2>
            <span class="uk-modal-close" uk-close></span>
            <div class="form-group">
                <input type="text" class="form-group-bg"
                       dir="rtl" placeholder="جستجو..."
                       aria-label="جسجتو غذا" name="txtSearchFood" />
            </div>
            <div class="even-taglist column uk-margin-small-top">
                <ul class="tag-grid uk-padding-remove">
                    <li>
                        <button class="even-tag">سنتی</button>
                    </li>
                    <li>
                        <button class="even-tag">فرنگی</button>
                    </li>
                    <li>
                        <button class="even-tag">ایتالیایی</button>
                    </li>
                    <li>
                        <button class="even-tag">کباب</button>
                    </li>
                    <li>
                        <button class="even-tag">دونر</button>
                    </li>
                    <li>
                        <button class="even-tag">سوپ و آش</button>
                    </li>
                    <li>
                        <button class="even-tag">صبحانه</button>
                    </li>
                    <li>
                        <button class="even-tag">مکزیکی</button>
                    </li>
                </ul>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <div class="btn btn-round btn-secondary uk-modal-close">بازگشت</div>
            </div>
        </form>
    </div>
</div>

<!-- #endregion -->


<div class="uk-container column">

    <!-- #region Searchbar -->

    <form class="searchbar">
        <input type="text" class="form-group-bg searchbar-margin-left" placeholder="نام رستوران" aria-label="نام رستوران" />
        <button type="button" uk-toggle="#Modal-Location" aria-label="انتخاب شهر"
                class="form-group-bg row-reverse searchbar-margin-left">
            <span uk-icon="location-outline"></span>
            <span>انتخاب شهر</span>
        </button>
        <button type="button" uk-toggle="#Modal-Food" aria-label="انتخاب نوع غذا"
                class="form-group-bg row-reverse searchbar-margin-left">
            <span class="uk-margin-small-left" uk-icon="grid-outline"></span>
            <span>نوع غذا</span>
        </button>
        <button class="btn btn-primary" aria-label="جسنجو رستوران">
            <span uk-icon="search"></span>
        </button>
    </form>

    <!-- #endregion -->
    <!-- #region Grid -->

    <div class="rest-grid">

        <partial name="_RestaurantBlock" />
        <partial name="_RestaurantBlock" />
        <partial name="_RestaurantBlock" />

        <partial name="_RestaurantBlock" />
        <partial name="_RestaurantBlock" />
        <partial name="_RestaurantBlock" />

        <partial name="_RestaurantBlock" />
        <partial name="_RestaurantBlock" />

    </div>

    <!-- #endregion -->

</div>

@section Scripts {

}
