@model IEnumerable<TblCity>
<!-- #region Location -->
<div id="Modal-Location" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form class="column">
            <h2 class="uk-h4">انتخاب شهر</h2>
            <span class="uk-modal-close" uk-close></span>
            <div class="form-group">
                <input type="text" class="form-group-bg"
                       dir="rtl" placeholder="جستجو..."
                       aria-label="جستجو شهر" name="txtSearch"
                       oninput="document.getElementById('citiesList2').childNodes.forEach(i => { if(i.nodeType !== Node.TEXT_NODE)  i.style.display = i.textContent.includes(this.value) ? 'list-item' : 'none' })" />
            </div>
            <div class="even-taglist column uk-margin-small-top">
                <ul id="citiesList2" class="tag-grid uk-padding-remove">
                    @foreach (var item in Model)
                    {
                        <li>
                            <button class="even-tag uk-modal-close" onclick="if (document.getElementById('txtCitySelector')) { document.getElementById('txtCitySelector').value = this.textContent; document.getElementById('CityId').value = @item.CityId }">@item.Name</button>
                        </li>
                    }

                </ul>
            </div>
            <div class="button-panel uk-margin-top uk-margin-auto">
                <div class="btn btn-round btn-secondary uk-modal-close">بازگشت</div>
            </div>
        </form>

    </div>
</div>