@model IEnumerable<TblCatagory>
@foreach (var item in Model)
{
    <li>
        <a href="/CategoryView/@item.CatagoryId/@item.Name.Replace(" ","-")">
            @if (item.IconUrl != null)
            {
                <img src="~/Images/Catagory/Icon/@item.IconUrl" width="28" height="28" alt="" />

            }
            else
            {
                <img src="~/Images/pizza.svg" width="28" height="28" alt="" />
            }
        </a>
        <span>@item.Name</span>
    </li>
}
