@model IEnumerable<TblCatagory>
@foreach (var item in Model)
{
    <li>
        <a href="/CategoryView/@item.CatagoryId/@item.Name.Replace(" ","-")">
            <img src="~/Images/Catagory/@item.ImageUrl" width="28" height="28" alt="" />
        </a>
        <span>@item.Name</span>
    </li>
}
