@import '../_colors.scss';
@import '../_layout.scss';


@media only screen and (max-width: 800px) {
    .intro, .app, .outro {
        .text {
            font-size: 14px;
        }
    }
}

.intro {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    background-color: #FAAE3C;

    .text {
        padding: 32px;

        h3 {
            margin: 0;
            font-size: 36px;
            color: #000;
        }

        p {
            color: #000;
            font-size: 20px;
        }

        .btn-white {
            font-size: 20px;
            padding: 8px 18px;
        }
    }

    .img {
        @include border-radius(0,0,24px,0);
        margin-bottom: 42px;
        -moz-box-shadow: inset 0 0 16px 6px transparentize(#000,.32);
        -webkit-box-shadow: inset 0 0 16px 6px transparentize(#000,.32);
        box-shadow: inset 0 0 16px 6px transparentize(#000,.32);
        max-width: 680px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1124px) {
    .intro {

        .img {
            width: 42vw;
        }
    }
}


@media only screen and (max-width: 800px) {
    .intro {

        .img {
            display: none;
            width: 320px;
        }
    }
}


.app {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    background-color: #fff;

    .text {
        padding: 32px;

        h3 {
            margin: 0;
            font-size: 32px;
            color: #000;
        }

        p {
            color: #000;
            font-size: 16px;
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1124px) {
    .app {
        .img {
            margin: auto 0;
            width: 42vw !important;
        }
    }
}


@media only screen and (max-width: 800px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'img' 'text';

        .text {
            grid-area: text;
        }

        .img {
            margin: auto;
            grid-area: img;
            margin-bottom: 0 !important;
        }
    }
}

.outro {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    background-color: #F5F3F0;

    .text {
        padding: 32px;

        h3 {
            margin: 0;
            font-size: 32px;
            color: #000;
        }

        p {
            color: #000;
            font-size: 16px;
        }

        .media {
            grid-gap: 16px;

            .social {
                padding: 8px;
                background-color: white;
                @include border-radius(16px,16px,16px,16px);
                color: #333;
                @include trans(.2s);
            }

            .social:hover {
                color: $primary-dark;
            }
        }
    }

    .img {
        padding: 32px;
        @include border-radius(0,0,24px,0);
        margin-bottom: 42px;
        max-width: 680px;
    }
}

@media only screen and (max-width: 1200px) {
    .outro {
        .img {
            display: none;
        }
    }
}
