@import '../_colors.scss';
@import '../_layout.scss';

.hero {
    height: calc(100vh - #{$nav-header-height});
    background-image: url('../../resources/svg/herobackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;

    * {
        color: black;
    }

    .hero-navi {
        display: none;
    }

    .hero-alternate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "splash image" "button image"
    }

    .hero-image {
        grid-area: image;
        margin-left: 24px;
    }

    .hero-splash {
        grid-area: splash;
    }

    .hero-button {
        grid-area: button;
        margin-left: auto;
        margin-bottom: auto;
        background: white;
        @include border-radius(12px,12px,12px,12px);
        padding: 12px;

        button {
            min-width: 24px;
            max-width: 24px;
            width: 24px;
        }



        .category-drop {
            background: #fff;
            @include border-radius(12px,12px,12px,12px);
            @include shadow-more;
            height: auto;
            max-height: 215px;
            z-index: 999;
            overflow: hidden;

            li {
                padding: 8px 12px 8px 0;
                @include trans(.4s);
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                color: #333;
                cursor: pointer;
                max-width: 136px;
            }

            li:hover {
                background: #eee;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        padding-bottom: 20px;
        height: calc(100vh - #{$nav-bottom-height});
        @include border-radius(0,0,0,0);

        .hero-alternate {
            @include column;
            padding: 20px 20px 20px 20px;
            height: calc(100vh - #{$nav-bottom-height} - 25px);
            min-height: unset;
            margin: 0 !important;
        }

        .hero-navi {
            display: flex;
        }

        .hero-image {
            max-height: 210px;
            margin: auto;
        }

        .hero-splash {
            margin: auto auto !important;
            max-height: 144px;

            h1 {
                margin: 4px auto !important;
                font-size: 30px !important;
            }

            h2 {
                margin: 4px auto !important;
                font-size: 34px !important;
            }

            @media only screen and (max-device-width : 350px) {
                h1 {
                    font-size: 24px !important;
                }

                h2 {
                    font-size: 28px !important;
                }
            }
        }

        .hero-button {
            margin: auto !important;
            font-size: 18px;
        }
    }
}

@media only screen and (max-device-width: 420px) {
    .hero {
        .hero-button {
            margin: auto !important;
            font-size: 18px;
            width: 80vw;

            button {
            }

            #txtCategory {
                max-width: 92px;
            }

            #txtSearcher {
                max-width: 150px;
                margin-left: auto;
            }

            .category-drop {

                li {
                    padding: 6px 8px 6px 0;
                    @include trans(.4s);
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    color: #333;
                    cursor: pointer;
                    max-width: 136px;
                    font-size: 14px;
                }
            }
        }
    }
}


.parallax-download {
    $height: 350px;
    height: $height;
    background-image: url('/resources/jpg/Coffee.jpg');

    h1, p {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.50);
    }

    .parralax-content {
        z-index: 100;
    }

    .parralax-overlay-blur {
        position: absolute;
        background: rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5) inset;
        height: $height;
        width: 100%;
        z-index: 80;
    }
}

.grid-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-template-areas: "kebab kebab doner mexico" "breakfast romantic pizza pizza" "breakfast chicken chicken vegan";

    .category {
        border: 10px solid #fff;
        box-sizing: border-box;
        display: flex;
        background-repeat: no-repeat !important;
        background-position: center;
        background-size: cover;
        min-height: calc(25vw - 56px);
        height: 100%;
        width: 100%;
        @include border-radius(16px,16px,16px,16px);
        @include shadow-mild;
        overflow: hidden;

        h3 {
            display: flex;
            width: 100%;
            height: 100%;
            text-shadow: 0 0 4px #000;
            color: white;
            @include trans(.4s);
            background: rgba(0,0,0,.4);

            span {
                margin: auto;
            }
        }
    }

    .category:hover {
        h3 {
            background: rgba(0,0,0,.0);
        }
    }
}

@media only screen and (min-width: 930px) {
    .grid-categories {
        grid-template-areas: "kebab kebab doner mexico" "breakfast romantic pizza pizza" "breakfast chicken chicken vegan";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 160px 160px 160px;
        grid-gap: 8px;

        .category {
            border: 5px solid #fff;
            min-height: 160px;

            h3 {
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (min-width: 432px) and (max-width: 930px) {
    .grid-categories {
        grid-template-areas: "kebab kebab doner" "breakfast romantic pizza" "breakfast chicken vegan" "mexico chicken vegan" !important;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px;
        grid-gap: 8px;

        .category {
            border: 5px solid #fff;
            min-height: 100px;

            h3 {
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 432px) {
    .grid-categories {
        grid-template-areas: "kebab doner" "breakfast romantic" "pizza chicken" "mexico vegan" !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;

        .category {
            border: 5px solid #fff;
            min-height: calc(32vw);

            h3 {
                font-size: 15px;
                white-space: nowrap;
            }
        }
    }
}

.category:nth-child(1) {
    grid-area: kebab;
    background-image: url(../../resources/png/food_1.png);
}

.category:nth-child(2) {
    grid-area: doner;
    background-image: url(../../resources/png/food_3.png);
}

.category:nth-child(3) {
    grid-area: mexico;
    background-image: url(../../resources/png/food_4.png);
}

.category:nth-child(4) {
    grid-area: breakfast;
    background-image: url(../../resources/png/food_5.png);
}

.category:nth-child(5) {
    grid-area: romantic;
    background-image: url(../../resources/png/food_5.png);
}

.category:nth-child(6) {
    grid-area: pizza;
    background-image: url(../../resources/png/food_4.png);
}

.category:nth-child(7) {
    grid-area: chicken;
    background-image: url(../../resources/png/food_3.png);
}

.category:nth-child(8) {
    grid-area: vegan;
    background-image: url(../../resources/png/food_1.png);
}
