/*#region name*/
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.hero {
  height: calc(100vh - 70px);
  background-image: url("../../resources/svg/herobackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .hero * {
    color: black; }
  .hero .hero-navi {
    display: none; }
  .hero .hero-alternate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "splash image" "button image"; }
  .hero .hero-image {
    grid-area: image;
    margin-left: 24px; }
  .hero .hero-splash {
    grid-area: splash; }
  .hero .hero-button {
    grid-area: button;
    margin-left: auto;
    margin-bottom: auto;
    background: white;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    padding: 12px; }
    .hero .hero-button .category-drop {
      background: #fff;
      -moz-border-radius: 12px 12px 12px 12px;
      -webkit-border-radius: 12px 12px 12px 12px;
      border-radius: 12px 12px 12px 12px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      height: auto;
      max-height: 215px;
      z-index: 999;
      overflow: hidden; }
      .hero .hero-button .category-drop li {
        padding: 8px 12px 8px 0;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        -webkit-transition: all ease 0.4s;
        transition: all ease 0.4s;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        color: #333;
        cursor: pointer;
        max-width: 136px; }
      .hero .hero-button .category-drop li:hover {
        background: #eee; }

@media only screen and (max-width: 800px) {
  .hero {
    padding-bottom: 20px;
    height: calc(100vh - 65px);
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
    .hero .hero-alternate {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 20px 20px;
      height: calc(100vh - 65px - 25px);
      min-height: unset;
      margin: 0 !important; }
    .hero .hero-navi {
      display: flex; }
    .hero .hero-image {
      max-height: 210px;
      margin: auto; }
    .hero .hero-splash {
      margin: auto auto !important;
      max-height: 144px; }
      .hero .hero-splash h1 {
        margin: 4px auto !important;
        font-size: 30px !important; }
      .hero .hero-splash h2 {
        margin: 4px auto !important;
        font-size: 34px !important; } }
    @media only screen and (max-width: 800px) and (max-device-width: 350px) {
      .hero .hero-splash h1 {
        font-size: 24px !important; }
      .hero .hero-splash h2 {
        font-size: 28px !important; } }

@media only screen and (max-width: 800px) {
    .hero .hero-button {
      margin: auto !important;
      font-size: 18px; } }

.parallax-download {
  height: 350px;
  background-image: url("/resources/jpg/Coffee.jpg"); }
  .parallax-download h1, .parallax-download p {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }
  .parallax-download .parralax-content {
    z-index: 100; }
  .parallax-download .parralax-overlay-blur {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5) inset;
    height: 350px;
    width: 100%;
    z-index: 80; }

.grid-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-areas: "kebab kebab doner mexico" "breakfast romantic pizza pizza" "breakfast chicken chicken vegan"; }
  .grid-categories .category {
    border: 10px solid #fff;
    box-sizing: border-box;
    display: flex;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
    min-height: calc(25vw - 56px);
    height: 100%;
    width: 100%;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    overflow: hidden; }
    .grid-categories .category h3 {
      display: flex;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 4px #000;
      color: white;
      -moz-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      -webkit-transition: all ease 0.4s;
      transition: all ease 0.4s;
      background: rgba(0, 0, 0, 0.4); }
      .grid-categories .category h3 span {
        margin: auto; }
  .grid-categories .category:hover h3 {
    background: transparent; }

@media only screen and (min-width: 930px) {
  .grid-categories {
    grid-template-areas: "kebab kebab doner mexico" "breakfast romantic pizza pizza" "breakfast chicken chicken vegan";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
    grid-gap: 8px; }
    .grid-categories .category {
      border: 5px solid #fff;
      min-height: 160px; }
      .grid-categories .category h3 {
        font-size: 16px;
        white-space: nowrap; } }

@media only screen and (min-width: 432px) and (max-width: 930px) {
  .grid-categories {
    grid-template-areas: "kebab kebab doner" "breakfast romantic pizza" "breakfast chicken vegan" "mexico chicken vegan" !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 8px; }
    .grid-categories .category {
      border: 5px solid #fff;
      min-height: 100px; }
      .grid-categories .category h3 {
        font-size: 16px;
        white-space: nowrap; } }

@media only screen and (min-width: 0) and (max-width: 432px) {
  .grid-categories {
    grid-template-areas: "kebab doner" "breakfast romantic" "pizza chicken" "mexico vegan" !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px; }
    .grid-categories .category {
      border: 5px solid #fff;
      min-height: calc(32vw); }
      .grid-categories .category h3 {
        font-size: 15px;
        white-space: nowrap; } }

.category:nth-child(1) {
  grid-area: kebab;
  background-image: url(../../resources/png/food_1.png); }

.category:nth-child(2) {
  grid-area: doner;
  background-image: url(../../resources/png/food_3.png); }

.category:nth-child(3) {
  grid-area: mexico;
  background-image: url(../../resources/png/food_4.png); }

.category:nth-child(4) {
  grid-area: breakfast;
  background-image: url(../../resources/png/food_5.png); }

.category:nth-child(5) {
  grid-area: romantic;
  background-image: url(../../resources/png/food_5.png); }

.category:nth-child(6) {
  grid-area: pizza;
  background-image: url(../../resources/png/food_4.png); }

.category:nth-child(7) {
  grid-area: chicken;
  background-image: url(../../resources/png/food_3.png); }

.category:nth-child(8) {
  grid-area: vegan;
  background-image: url(../../resources/png/food_1.png); }
