@import '../_colors.scss';
@import '../_layout.scss';

.hero {
    height: calc(100vh - #{$nav-header-height});
    background-image: url('../../resources/svg/herobackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    * {
        color: black;
    }

    .hero-navi {
        display: none;
    }

    .hero-alternate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "splash image" "button image"
    }

    .hero-image {
        grid-area: image;
        margin-left: 24px;
    }

    .hero-splash {
        grid-area: splash;
    }

    .hero-button {
        grid-area: button;
        margin-left: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        padding-bottom: 20px;
        height: calc(100vh - #{$nav-bottom-height});
        @include border-radius(0,0,0,0);

        .hero-alternate {
            @include column;
            padding: 20px 20px 20px 20px;
            height: calc(100vh - #{$nav-bottom-height} - 25px);
            min-height: unset;
            margin: 0 !important;
        }

        .hero-navi {
            display: flex;
        }

        .hero-image {
            margin: auto;
            width: 95%;
        }

        .hero-splash {
            margin: auto auto !important;

            h1 {
                font-size: 30px !important;
            }

            h2 {
                font-size: 34px !important;
            }

            @media only screen and (max-device-width : 350px) {
                h1 {
                    font-size: 24px !important;
                }

                h2 {
                    font-size: 28px !important;
                }
            }
        }

        .hero-button {
            margin: auto !important;
            font-size: 18px;
        }
    }
}

.parallax-download {
    $height: 350px;
    height: $height;
    background-image: url('/resources/jpg/Coffee.jpg');

    h1, p {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.50);
    }

    .parralax-content {
        z-index: 100;
    }

    .parralax-overlay-blur {
        position: absolute;
        background: rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5) inset;
        height: $height;
        width: 100%;
        z-index: 80;
    }
}
