@import '../_colors.scss';
@import '../_layout.scss';

#btnMore {
    position: absolute;
    left: 20px;
    top: 20px;
}

.profile {
    position: relative;

    .alternate {
        @include row-reverse;
    }

    &-image {
        position: relative;

        img {
            width: 150px;
            height: 150px;
            @include border-radius(100%,100%,100%,100%);
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }

        #btnUploadImage:hover {
            background-color: darken(#EFEFEF,4%);
        }
    }
}

#btnUploadImage, .btn-upload {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 52px;
    height: 52px;
    @include border-radius(24px,24px,24px,24px);
    border: 5px #fff solid;
    display: flex;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    background-color: #EFEFEF;

    span, span:hover {
        margin: auto;
        color: #BFBFBF;
    }
}

@media only screen and (max-width: 450px) {
    .profile {
        @include column;

        .alternate {
            @include column;

            .profile-image {
                margin: auto !important;
            }

            .column {
                margin-right: 0 !important;

                .data-group {
                    margin-top: 16px;
                    background: #EFEFEF;
                    padding: 20px;
                    @include border-radius(20px,20px,20px,20px);
                }
            }
        }
    }
}

.data-group {
    @include column;
    padding: 8px;

    .data-label {
        font-size: 15px;
        color: #B0B0B0;
        margin-bottom: 4px;
    }

    .data-value {
        font-size: 24px;
        color: #656565;
    }
}

.input-tiny {
    width: 70px;
}

.inputs-grid {
    @include grid(140px);
    grid-gap: 16px;
}

.upload-image {
    position: relative;
    margin: 28px 0;

    img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        @include border-radius(12px,12px,12px,12px);
    }

    .btn-upload {
        bottom: -24px !important;
        right: 24px !important;
    }
}
