@import '../_colors.scss';
@import '../_layout.scss';
@import '../_guage.scss';

.banner {
    height: $banner-height;
    width: 100%;
    min-height: 100px;
    z-index: 100;
    @include border-radius(0,0,24px,24px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1.5fr;
    grid-template-areas: 'info logo' 'action action';

    > * {
        position: relative;
        z-index: 200
    }

    .banner-material {
        background: rgba(255,222,172,0.2);
        padding: 10px;
        color: white;
        @include border-radius(12px,12px,12px,12px);
        @include shadow-more;
        text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.42);
        @include trans(.3s);
    }

    .banner-material.clickable:hover {
        background: lighten(rgba(255,232,172,0.2),15%);
        cursor: pointer;
    }

    &-logo {
        grid-area: logo;
        padding: 25px 25px 0 0;

        .logo {
            @include border-radius(32px,32px,32px,32px);
            margin-left: 20px;
            margin-bottom: auto;
        }

        h1 {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        }
    }

    &-info {
        grid-area: info;
        padding: 25px 0 0 25px;
        margin-right: auto;

        .alternate {
            @include row;

            h3 {
                margin-right: 8px;
            }
        }
    }

    &-action {
        grid-area: action;
        padding: 0 25px 25px 25px;
    }
}

.image-container {
    overflow: hidden;
    top: $nav-header-height - 2px;
    height: $banner-height + 2px;
    position: absolute;
    left: -6px;
    width: calc(100vw + 6px);
    z-index: 50;
    @include border-radius(0,0,40px,40px);

    .banner-image {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100%;
        height: calc(100% + 4px);
        @include filter(blur(4px) brightness(50%));
    }
}

@media only screen and (min-width : 0px) and (max-width : 512px) {
    $banner-height: 348px;

    .banner {
        height: $banner-height;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr 1fr;
        grid-template-areas: "logo" "info" "action";

        .banner-material {
            background: rgba(255,222,172,0.2);
            padding: 10px;
            color: white;
            @include border-radius(12px,12px,12px,12px);
            @include shadow-more;
            text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.42);
        }

        &-logo {
            grid-area: logo;
            padding: 25px 25px 0 0;

            .logo {
                @include border-radius(32px,32px,32px,32px);
                margin-left: 20px;
                margin-bottom: auto;
            }

            h1 {
                color: white;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
                font-size: 20px
            }
        }

        &-info {
            grid-area: info;
            padding: 10px 16px 0 16px;
            margin-left: auto;

            .alternate {
                @include row-reverse;

                h3 {
                    margin-left: 8px;
                }
            }
        }

        &-action {
            grid-area: action;
            padding: 16px 16px 0 16px;
        }
    }

    .image-container {
        top: -6px !important;
        height: $banner-height + 28px;
        left: -6px;
        width: calc(100vw + 6px) !important;
        z-index: 50;
        @include border-radius(0,0,28px,28px);
    }
}

.carousel {
    padding: 0;
    margin-top: 32px;
    @include border-radius(16px,16px,16px,16px);
    @include trans(.2s);

    .uk-slider-items {
        li {
            display: flex;
        }
    }

    .uk-dotnav li {
        display: flex;

        a {
            margin: auto 0;
        }
    }
}

.carousel-image {
    a {
        margin: auto;
    }

    img {
        @include border-radius(12px,12px,12px,12px);
        @include shadow-mild;
    }

    .uk-dotnav {
        background-color: #E2E2E2;
        padding: 6px 0;
        @include border-radius(16px,16px,16px,16px);
        width: 100%;
        margin-left: auto;

        a {
            margin: auto;
            background-color: #C4C4C4;
            border: 0;
            width: 14px;
            height: 14px;
        }

        .uk-active {
            > a {
                background-color: #A3A3A3;
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media only screen and (min-device-width : 400px) and (max-device-width : 512px) {
    .carousel-image {
        .uk-slider-items {
            li {
                width: 33.33% !important;

                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}

@media only screen and (max-device-width : 400px) {
    .carousel-image {
        .uk-slider-items {
            li {
                width: 50% !important;

                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}

.carousel-menu {
    border: 16px solid #fff;
    background: #fff;
    @include border-radius(16px,16px,16px,16px);
    padding: 0;

    a {
        margin: auto;
    }

    img {
        @include border-radius(12px,12px,12px,12px);
        @include shadow-mild;
    }

    .uk-dotnav {
        background-color: #E2E2E2;
        padding: 6px 0;
        @include border-radius(16px,16px,16px,16px);
        width: 100%;
        margin-left: auto;

        a {
            margin: auto;
            background-color: #C4C4C4;
            border: 0;
            width: 14px;
            height: 14px;
        }

        .uk-active {
            > a {
                background-color: #A3A3A3;
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media only screen and (min-device-width : 390px) and (max-device-width : 524px) {
    .carousel-menu {

        .uk-slider-items {
            li {
                width: 33.33%;
            }

            img {
                width: auto;
                height: unset;
                max-height: 50vh;
            }
        }
    }
}

@media only screen and (max-device-width : 390px) {
    .carousel-menu {
        .uk-slider-items {
            li {
                width: 50%;
            }

            img {
                width: auto;
                height:unset;
                max-height: 50vh;
            }
        }
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $card-margin;
    grid-template-areas: "foodstyle meals" "scores options" "map map";

    .meals {
        grid-area: meals;
    }

    .meals, .foodstyle {
        -ms-flex-wrap: wrap-reverse;
        -webkit-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;

        .auto-row {
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            direction: rtl;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        a {
            border: 2px $primary solid;
            color: $primary;
            padding: 4px 24px;
            margin-left: 16px;
            margin-bottom: 16px;
            @include border-radius(20px,20px,20px,20px);
            @include trans(.4s);
            display: block;
            background: transparent;
            cursor: pointer;
            text-align: center;
        }

        a:hover {
            @include subtle-glow(transparentize($primary,.4));
            background: $primary;
            color: #fff;
        }
    }

    .foodstyle {
        grid-area: foodstyle;
    }

    .scores {
        grid-area: scores;

        .container {
            display: grid;
        }

        @media only screen and (min-width : 1200px) {
            .container {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        @media only screen and (min-width : 824px) and (max-width : 1200px) {
            .container {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;

                .progress-ring-container {
                    margin: 0 auto 20px auto;
                }
            }
        }

        @media only screen and (min-width : 600px) and (max-width : 824px) {
            .container {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        @media only screen and (min-width : 0) and (max-width : 600px) {
            .container {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;

                .progress-ring-container {
                    margin: 0 auto 20px auto;
                }
            }
        }

        .progress-ring-container {
            margin: auto;
        }
    }

    .options {
        grid-area: options;

        ul {
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            direction: rtl;
            -ms-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

            li {
                display: block;
                margin-left: 8px;
                margin-bottom: 8px;

                span {
                    color: $Text;
                }

                svg {
                    fill: $primary;
                }
            }
        }
    }

    .map {
        grid-area: map;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        min-height: 36vh;
    }
}

@media only screen and (max-width: 824px) {
    .info {
        grid-template-columns: 1fr;
        grid-template-areas: "foodstyle" "meals" "scores " "options" "map";

        .meals, .foodstyle {

            a {
                border: 1.5px $primary thin;
                color: $primary;
                padding: 4px 20px;
                margin-left: 12px;
                font-size: 13px;
            }
        }

        .meals {
            grid-area: meals;
        }

        .foodstyle {
            grid-area: foodstyle;
        }

        .scores {
            grid-area: scores;

            .progress-ring-container {
                margin: auto;
            }
        }

        .options {
            grid-area: options;

            li {
                margin-left: auto;

                span {
                    color: $Text;
                }

                svg {
                    fill: $primary;
                }
            }
        }

        .map {
            grid-area: map;
            -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            min-height: 36vh;
        }
    }
}

@media only screen and (max-device-width: 824px) {
    .info {
        grid-template-columns: 1fr;
        grid-template-areas: "foodstyle" "meals" "scores " "options" "map";

        .meals, .foodstyle {

            a {
                border: 1.5px $primary thin;
                color: $primary;
                padding: 4px 20px;
                margin-left: 12px;
                font-size: 13px;
            }
        }

        .meals {
            grid-area: meals;
        }

        .foodstyle {
            grid-area: foodstyle;
        }

        .scores {
            grid-area: scores;

            .progress-ring-container {
                margin: auto;
            }
        }

        .options {
            grid-area: options;

            li {
                margin-left: auto;

                span {
                    color: $Text;
                }

                svg {
                    fill: $primary;
                }
            }
        }

        .map {
            grid-area: map;
            -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            min-height: 36vh;
        }
    }
}

.leaflet-control-attribution {
    display: none;
}

.comment-section {
    .comment {
        margin-top: 16px;
        padding: 16px;
        background-color: #F8F8F8;
        @include border-radius(20px,20px,20px,20px);

        .user {
            @include row-reverse;

            img {
                margin-left: 12px;
                width: 50px;
                height: 50px;
                -o-object-fit: cover;
                object-fit: cover;
            }

            > div {
                @include column;

                .name {
                    font-size: 18px;
                    color: #646464;
                }

                .date {
                    direction: rtl;
                    font-size: 13px;
                    margin-top: auto;
                    color: #B2B2B2;
                }
            }
        }

        .content {
            text-align: right !important;
        }

        .action {
            @include row-reverse;
        }
    }
}

.actions-adrift {
    position: fixed;
    z-index: 600;
    background: rgba(0,0,0,.72);
    @include border-radius(32px,32px,32px,32px);
    backdrop-filter: blur(6px);
    display: flex;

    ul {
        @include row;
        grid-gap: 6px;
        margin: 0;
        margin-left: auto;
        padding: 8px;

        li {
            button {
                background: transparent;
                border: 0;
                @include row-reverse;
                @include trans(.3s);
                @include border-radius(32px,32px,32px,32px);
                padding: 6px 12px;
                color: #fff;
                white-space: nowrap;

                .uk-icon {
                    margin-left: 4px;
                }
            }

            button:hover {
                background-color: rgba(255, 255, 255, 0.18);
            }
        }
    }
}

@media only screen and (min-device-width : 550px) {
    .actions-adrift {
        right: 24px;
        bottom: 24px;
    }
}

@media only screen and (max-device-width : 550px) {
    .actions-adrift {
        ul {
            @include row;
            grid-gap: 6px;
            margin: 0;
            padding: 6px;
            width: 100%;

            li {
                margin: auto;

                button {
                    -ms-flex-direction: column !important;
                    -webkit-flex-direction: column !important;
                    flex-direction: column !important;
                    padding: 4px 10px;
                    color: #fff;

                    .uk-icon {
                        margin-left: 0;
                        align-self: center;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    span {
                        font-size: 10px;
                    }
                }

                button:hover {
                    background-color: transparentize(#fff,.85);
                }
            }
        }
    }
}

@media only screen and (min-device-width : 512px) and (max-device-width : 550px) {
    .actions-adrift {
        right: 24px;
        left: 24px;
        bottom: 24px;
    }
}

@media only screen and (max-device-width : 512px) {
    .actions-adrift {
        right: 24px;
        left: 24px;
        bottom: $nav-bottom-height + 24px;
    }
}

@media only screen and (max-device-width : 350px) {
    .actions-adrift {
        left: 16px;
        right: 16px;
        bottom: $nav-bottom-height + 16px;

        ul {
            @include row;
            grid-gap: 4px;
            margin: 0;
            padding: 4px;
            width: 100%;

            li {
                margin: auto;

                button {
                    -ms-flex-direction: column !important;
                    -webkit-flex-direction: column !important;
                    flex-direction: column !important;
                    padding: 4px 10px;
                    color: #fff;

                    .uk-icon {
                        margin-left: 0;
                        align-self: center;

                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    span {
                        font-size: 8px;
                    }
                }

                button:hover {
                    background-color: transparentize(#fff,.85);
                }
            }
        }
    }
}
