@import '../_colors.scss';
@import '../_layout.scss';
@import '../_guage.scss';

$banner-height: 350px;

.banner {
    height: $banner-height;
    width: 100%;
    min-height: 100px;
    z-index: 100;
    @include border-radius(0,0,24px,24px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1.5fr;
    grid-template-areas: 'info logo' 'action action';

    > * {
        position: relative;
        z-index: 200
    }

    .banner-material {
        background: rgba(255,222,172,0.2);
        padding: 10px;
        color: white;
        @include border-radius(12px,12px,12px,12px);
        @include shadow-more;
        text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.42);
    }

    &-logo {
        grid-area: logo;
        padding: 25px 25px 0 0;

        .logo {
            @include border-radius(32px,32px,32px,32px);
            margin-left: 20px;
            margin-bottom: auto;
        }

        h1 {
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        }
    }

    &-info {
        grid-area: info;
        padding: 25px 0 0 25px;
    }

    &-action {
        grid-area: action;
        padding: 0 25px 25px 25px;
    }
}

.image-container {
    overflow: hidden;
    top: $nav-header-height - 2px;
    height: $banner-height + 2px;
    position: absolute;
    left: -6px;
    width: calc(100vw -4px);
    z-index: 50;
    @include border-radius(0,0,40px,40px);

    .banner-image {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100%;
        height: calc(100% + 4px);
        @include filter(blur(4px) brightness(50%));
    }
}

.carousel-image {
    img {
        margin: auto;
        @include border-radius(12px,12px,12px,12px);
        @include shadow-mild;
    }

    .uk-dotnav {
        background-color: #E2E2E2;
        padding: 6px 0;
        @include border-radius(16px,16px,16px,16px);
        width: 100%;
        margin-left: auto;

        a {
            margin: auto;
            background-color: #C4C4C4;
            border: 0;
            width: 14px;
            height: 14px;
        }

        .uk-active {
            > a {
                background-color: #A3A3A3;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.carousel-menu {
    border: 16px solid #fff;
    background: #fff;
    @include border-radius(16px,16px,16px,16px);
    padding: 0;

    .uk-dotnav {
        margin: 0 auto;
    }
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-template-areas: "foodstyle meals" "scores options" "map map";

    .mat:not(.map) {
        padding: 20px;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }

    .meals, .foodstyle {
        a {
            border: 2px $primary solid;
            color: $primary;
            padding: 4px 24px;
            margin-left: 16px;
            @include border-radius(20px,20px,20px,20px);
            @include trans(.4s);
        }

        a:hover {
            @include subtle-glow(transparentize($primary,.4));
            background: $primary;
            color: #fff;
        }
    }

    .meals {
        grid-area: meals;
    }

    .foodstyle {
        grid-area: foodstyle;
    }

    .scores {
        grid-area: scores;

        .progress-ring-container {
            margin: auto;
        }
    }

    .options {
        grid-area: options;
    }

    .map {
        grid-area: map;
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    }
}
