/*#region name*/
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.column {
  display: flex;
  flex-direction: column; }

.column-reverse {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
/*#region name*/
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#region Global */
/*#endregion */
/*#region difficulty */
/*#endregion */
/*#region Card*/
/*#endregion */
/*#region Scrollbar */
/*#endregion */
/*#region shadow */
/*#endregion */
/*#region Material  */
/*#endregion */
.progress-ring-container {
  display: flex;
  position: relative; }
  .progress-ring-container .progress-ring .progress-ring__circle {
    stroke: #FEB432;
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
    stroke-width: 5px;
    -webkit-filter: drop-shadow(0px 0px 12px rgba(254, 180, 50, 0.5));
    filter: drop-shadow(0px 0px 12px rgba(254, 180, 50, 0.5)); }
  .progress-ring-container .text {
    position: absolute;
    height: 120px;
    width: 120px;
    display: flex;
    z-index: 20; }
    .progress-ring-container .text .column {
      margin: auto !important;
      z-index: 30; }
      .progress-ring-container .text .column p {
        width: 120px;
        text-align: center !important;
        font-size: 50px;
        margin: 0 !important;
        color: #FEB432;
        font-size: 32px; }
      .progress-ring-container .text .column label {
        color: #AEAEAE;
        font-size: 11px;
        margin: 0 auto !important;
        margin-top: -8px !important;
        margin-bottom: 12px !important;
        width: 80px;
        text-align: center; }
  .progress-ring-container .text:before {
    position: absolute;
    z-index: 10;
    margin: 15px;
    width: 90px;
    height: 90px;
    content: "";
    background: #F3F3F3;
    -moz-border-radius: 100% 100% 100% 100%;
    -webkit-border-radius: 100% 100% 100% 100%;
    border-radius: 100% 100% 100% 100%;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }

h5.uk-h4 {
  font-size: 16px; }

.banner {
  height: 350px;
  width: 100%;
  min-height: 100px;
  z-index: 100;
  -moz-border-radius: 0 0 24px 24px;
  -webkit-border-radius: 0 0 24px 24px;
  border-radius: 0 0 24px 24px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1.5fr;
  grid-template-areas: 'info logo' 'action action'; }
  .banner > * {
    position: relative;
    z-index: 200; }
  .banner .banner-material {
    background: rgba(255, 222, 172, 0.2);
    padding: 10px;
    color: white;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.42);
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .banner .banner-material.clickable:hover {
    background: rgba(255, 253, 249, 0.2);
    cursor: pointer; }
  .banner-logo {
    grid-area: logo;
    padding: 25px 25px 0 0; }
    .banner-logo .logo {
      -moz-border-radius: 32px 32px 32px 32px;
      -webkit-border-radius: 32px 32px 32px 32px;
      border-radius: 32px 32px 32px 32px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      margin-left: 20px;
      margin-bottom: auto; }
    .banner-logo h1 {
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32); }
  .banner-info {
    grid-area: info;
    padding: 25px 0 0 25px;
    margin-right: auto; }
    .banner-info .alternate {
      display: flex;
      flex-direction: row; }
      .banner-info .alternate h3 {
        margin-right: 8px; }
  .banner-action {
    grid-area: action;
    padding: 0 25px 25px 25px; }

.image-container {
  overflow: hidden;
  top: 68px;
  height: 352px;
  position: absolute;
  left: -6px;
  right: -6px;
  z-index: 50;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  border-radius: 0 0 40px 40px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .image-container .banner-image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: calc(100% + 4px);
    filter: blur(4px) brightness(50%);
    -webkit-filter: blur(4px) brightness(50%);
    -moz-filter: blur(4px) brightness(50%);
    -o-filter: blur(4px) brightness(50%);
    -ms-filter: blur(4px) brightness(50%); }

@media only screen and (min-width: 0px) and (max-width: 512px) {
  .banner {
    height: 348px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 1fr;
    grid-template-areas: "logo" "info" "action"; }
    .banner .banner-material {
      background: rgba(255, 222, 172, 0.2);
      padding: 10px;
      color: white;
      -moz-border-radius: 12px 12px 12px 12px;
      -webkit-border-radius: 12px 12px 12px 12px;
      border-radius: 12px 12px 12px 12px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 24px;
      text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.42); }
    .banner-logo {
      grid-area: logo;
      padding: 25px 25px 0 0; }
      .banner-logo .logo {
        -moz-border-radius: 32px 32px 32px 32px;
        -webkit-border-radius: 32px 32px 32px 32px;
        border-radius: 32px 32px 32px 32px;
        /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
        margin-left: 20px;
        margin-bottom: auto; }
      .banner-logo h1 {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        font-size: 20px; }
    .banner-info {
      grid-area: info;
      padding: 10px 16px 0 16px;
      margin-left: auto; }
      .banner-info .alternate {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 44px;
        grid-template-areas: "time tel";
        grid-gap: 8px; }
      .banner-info h3:nth-child(1) {
        margin: 0 !important;
        grid-area: tel; }
      .banner-info h3:nth-child(2) {
        margin: 0 !important;
        grid-area: time; }
    .banner-action {
      grid-area: action;
      padding: 16px 16px 0 16px; }
  .image-container {
    top: -6px !important;
    height: 376px;
    left: -6px;
    width: calc(112vw + 6px);
    z-index: 50;
    -moz-border-radius: 0 0 28px 28px;
    -webkit-border-radius: 0 0 28px 28px;
    border-radius: 0 0 28px 28px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ } }

.carousel {
  padding: 0;
  margin-top: 32px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .carousel .uk-slider-items li {
    display: flex; }
  .carousel .uk-dotnav {
    margin-bottom: 0; }
    .carousel .uk-dotnav li {
      display: flex; }
      .carousel .uk-dotnav li a {
        margin: auto 0; }

.carousel-image a {
  margin: auto; }

.carousel-image img {
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.carousel-image .uk-dotnav {
  background-color: #E2E2E2;
  padding: 6px 0;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  width: 100%;
  margin-left: auto; }
  .carousel-image .uk-dotnav a {
    margin: auto;
    background-color: #C4C4C4;
    border: 0;
    width: 14px;
    height: 14px; }
  .carousel-image .uk-dotnav .uk-active > a {
    background-color: #A3A3A3;
    width: 20px;
    height: 20px; }

@media only screen and (min-device-width: 524px) and (max-device-width: 750px) {
  .carousel-image .uk-slider-items li {
    width: 25% !important; }
    .carousel-image .uk-slider-items li img {
      width: 120px;
      height: 120px; } }

@media only screen and (min-device-width: 400px) and (max-device-width: 512px) {
  .carousel-image .uk-slider-items li {
    width: 33.33% !important; }
    .carousel-image .uk-slider-items li img {
      width: 120px;
      height: 120px; } }

@media only screen and (max-device-width: 400px) {
  .carousel-image .uk-slider-items li {
    width: 50% !important; }
    .carousel-image .uk-slider-items li img {
      width: 120px;
      height: 120px; } }

.carousel-menu {
  border: 16px solid #fff;
  background: #fff;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  padding: 0; }
  .carousel-menu a {
    margin: auto; }
  .carousel-menu img {
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    height: 312px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .carousel-menu .uk-dotnav {
    background-color: #E2E2E2;
    padding: 6px 0;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
    /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
    width: 100%;
    margin-left: auto; }
    .carousel-menu .uk-dotnav a {
      margin: auto;
      background-color: #C4C4C4;
      border: 0;
      width: 14px;
      height: 14px; }
    .carousel-menu .uk-dotnav .uk-active > a {
      background-color: #A3A3A3;
      width: 20px;
      height: 20px; }

@media only screen and (min-device-width: 524px) and (max-device-width: 750px) {
  .carousel-menu .uk-slider-items li {
    width: 25%; }
  .carousel-menu .uk-slider-items a {
    margin: 0 12px;
    width: 100%; }
    .carousel-menu .uk-slider-items a img {
      width: 100%;
      height: unset;
      max-height: 185px; } }

@media only screen and (min-device-width: 390px) and (max-device-width: 524px) {
  .carousel-menu .uk-slider-items li {
    width: 33.33%; }
  .carousel-menu .uk-slider-items a {
    margin: 0 12px;
    width: 100%; }
    .carousel-menu .uk-slider-items a img {
      width: 100%;
      height: unset;
      max-height: 185px; } }

@media only screen and (max-device-width: 390px) {
  .carousel-menu .uk-slider-items li {
    width: 50%; }
  .carousel-menu .uk-slider-items a {
    margin: 0 12px;
    width: 100%; }
    .carousel-menu .uk-slider-items a img {
      width: 100%;
      height: unset;
      max-height: 185px; } }

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-template-areas: "foodstyle meals" "scores options" "map map"; }
  .info .meals {
    grid-area: meals; }
  .info .meals, .info .foodstyle {
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; }
    .info .meals .auto-row, .info .foodstyle .auto-row {
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      direction: rtl;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    .info .meals ul, .info .foodstyle ul {
      grid-gap: 12px; }
      .info .meals ul a, .info .foodstyle ul a {
        border: 2px #FEB432 solid;
        color: #FEB432;
        padding: 4px 24px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;
        /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        -webkit-transition: all ease 0.4s;
        transition: all ease 0.4s;
        margin-bottom: 8px;
        display: block;
        background: transparent;
        cursor: pointer;
        text-align: center; }
    .info .meals a:hover, .info .foodstyle a:hover {
      -moz-box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
      -webkit-box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
      box-shadow: rgba(254, 180, 50, 0.6) 0 6px 16px;
      background: #FEB432;
      color: #fff; }
  .info .foodstyle {
    grid-area: foodstyle; }
  .info .scores {
    grid-area: scores; }
    .info .scores .container {
      display: grid; }
    @media only screen and (min-width: 1200px) {
      .info .scores .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    @media only screen and (min-width: 824px) and (max-width: 1200px) {
      .info .scores .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
        .info .scores .container .progress-ring-container {
          margin: 0 auto 20px auto; } }
    @media only screen and (min-width: 600px) and (max-width: 824px) {
      .info .scores .container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; } }
    @media only screen and (min-width: 0) and (max-width: 600px) {
      .info .scores .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
        .info .scores .container .progress-ring-container {
          margin: 0 auto 20px auto; } }
    .info .scores .progress-ring-container {
      margin: auto; }
  .info .options {
    grid-area: options; }
    .info .options ul {
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      direction: rtl;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      .info .options ul li {
        display: block;
        margin-left: 8px;
        margin-bottom: 8px; }
        .info .options ul li span {
          color: #505050; }
        .info .options ul li svg {
          fill: #FEB432; }
  .info .map {
    grid-area: map;
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    min-height: 36vh; }

@media only screen and (max-width: 824px) {
  .info {
    grid-template-columns: 1fr;
    grid-template-areas: "foodstyle" "meals" "scores " "options" "map"; }
    .info .meals a, .info .foodstyle a {
      border: 1.5px #FEB432 thin;
      color: #FEB432;
      padding: 4px 20px;
      margin-left: 12px;
      font-size: 13px; }
    .info .meals {
      grid-area: meals; }
    .info .foodstyle {
      grid-area: foodstyle; }
    .info .scores {
      grid-area: scores; }
      .info .scores .progress-ring-container {
        margin: auto; }
    .info .options {
      grid-area: options; }
      .info .options li {
        margin-left: auto; }
        .info .options li span {
          color: #505050; }
        .info .options li svg {
          fill: #FEB432; }
    .info .map {
      grid-area: map;
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      min-height: 36vh; } }

@media only screen and (max-device-width: 824px) {
  .info {
    grid-template-columns: 1fr;
    grid-template-areas: "foodstyle" "meals" "scores " "options" "map"; }
    .info .meals a, .info .foodstyle a {
      border: 1.5px #FEB432 thin;
      color: #FEB432;
      padding: 4px 20px;
      margin-left: 12px;
      font-size: 13px; }
    .info .meals {
      grid-area: meals; }
    .info .foodstyle {
      grid-area: foodstyle; }
    .info .scores {
      grid-area: scores; }
      .info .scores .progress-ring-container {
        margin: auto; }
    .info .options {
      grid-area: options; }
      .info .options li {
        margin-left: auto; }
        .info .options li span {
          color: #505050; }
        .info .options li svg {
          fill: #FEB432; }
    .info .map {
      grid-area: map;
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
      min-height: 36vh; } }

.leaflet-control-attribution {
  display: none; }

.comment-section h4.uk-h3 {
  font-size: 18px;
  vertical-align: central; }

.comment-section .btn {
  font-size: 13px;
  padding: 6px 10px; }

.comment-section .comment {
  margin-top: 16px;
  padding: 16px;
  background-color: #F8F8F8;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/ }
  .comment-section .comment .user {
    display: flex;
    flex-direction: row-reverse; }
    .comment-section .comment .user img {
      margin-left: 12px;
      width: 50px;
      height: 50px;
      -o-object-fit: cover;
      object-fit: cover; }
    .comment-section .comment .user > div {
      display: flex;
      flex-direction: column; }
      .comment-section .comment .user > div .name {
        font-size: 18px;
        color: #646464; }
      .comment-section .comment .user > div .date {
        direction: rtl;
        font-size: 13px;
        margin-top: auto;
        color: #B2B2B2; }
  .comment-section .comment .content {
    text-align: right !important;
    font-size: 14px; }
  .comment-section .comment .action {
    display: flex;
    flex-direction: row-reverse; }

.actions-adrift {
  position: fixed;
  z-index: 600;
  background: rgba(0, 0, 0, 0.72);
  -moz-border-radius: 32px 32px 32px 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  border-radius: 32px 32px 32px 32px;
  /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
  backdrop-filter: blur(6px);
  display: flex; }
  .actions-adrift ul {
    display: flex;
    flex-direction: row;
    grid-gap: 6px;
    margin: 0;
    margin-left: auto;
    padding: 8px; }
    .actions-adrift ul li button {
      background: transparent;
      border: 0;
      display: flex;
      flex-direction: row-reverse;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      -moz-border-radius: 32px 32px 32px 32px;
      -webkit-border-radius: 32px 32px 32px 32px;
      border-radius: 32px 32px 32px 32px;
      /* -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;*/
      padding: 6px 12px;
      color: #fff;
      white-space: nowrap; }
      .actions-adrift ul li button .uk-icon {
        margin-left: 4px; }
    .actions-adrift ul li button:hover {
      background-color: rgba(255, 255, 255, 0.18); }

@media only screen and (min-device-width: 550px) {
  .actions-adrift {
    right: 24px;
    bottom: 24px; } }

@media only screen and (max-width: 550px) {
  .actions-adrift {
    right: 24px;
    left: 24px; }
    .actions-adrift ul {
      display: flex;
      flex-direction: row;
      grid-gap: 6px;
      margin: 0;
      padding: 6px;
      width: 100%; }
      .actions-adrift ul li {
        margin: auto; }
        .actions-adrift ul li button {
          -ms-flex-direction: column !important;
          -webkit-flex-direction: column !important;
          flex-direction: column !important;
          padding: 4px 10px;
          color: #fff; }
          .actions-adrift ul li button .uk-icon {
            margin-left: 0;
            align-self: center; }
            .actions-adrift ul li button .uk-icon svg {
              width: 18px;
              height: 18px; }
          .actions-adrift ul li button span {
            font-size: 10px; }
        .actions-adrift ul li button:hover {
          background-color: rgba(255, 255, 255, 0.15); } }

@media only screen and (max-device-width: 550px) {
  .actions-adrift ul {
    display: flex;
    flex-direction: row;
    grid-gap: 6px;
    margin: 0;
    padding: 6px;
    width: 100%; }
    .actions-adrift ul li {
      margin: auto; }
      .actions-adrift ul li button {
        -ms-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        flex-direction: column !important;
        padding: 4px 10px;
        color: #fff; }
        .actions-adrift ul li button .uk-icon {
          margin-left: 0;
          align-self: center; }
          .actions-adrift ul li button .uk-icon svg {
            width: 18px;
            height: 18px; }
        .actions-adrift ul li button span {
          font-size: 10px; }
      .actions-adrift ul li button:hover {
        background-color: rgba(255, 255, 255, 0.15); } }

@media only screen and (min-device-width: 512px) and (max-device-width: 550px) {
  .actions-adrift {
    right: 24px;
    left: 24px;
    bottom: 24px; } }

@media only screen and (max-device-width: 512px) {
  .actions-adrift {
    right: 24px;
    left: 24px;
    bottom: 89px; } }

@media only screen and (max-device-width: 350px) {
  .actions-adrift {
    left: 16px;
    right: 16px;
    bottom: 81px; }
    .actions-adrift ul {
      display: flex;
      flex-direction: row;
      grid-gap: 4px;
      margin: 0;
      padding: 4px;
      width: 100%; }
      .actions-adrift ul li {
        margin: auto; }
        .actions-adrift ul li button {
          -ms-flex-direction: column !important;
          -webkit-flex-direction: column !important;
          flex-direction: column !important;
          padding: 4px 10px;
          color: #fff; }
          .actions-adrift ul li button .uk-icon {
            margin-left: 0;
            align-self: center; }
            .actions-adrift ul li button .uk-icon svg {
              width: 16px;
              height: 16px; }
          .actions-adrift ul li button span {
            font-size: 8px; }
        .actions-adrift ul li button:hover {
          background-color: rgba(255, 255, 255, 0.15); } }

.progbar ul {
  display: flex;
  flex-direction: column;
  grid-gap: 8px; }
  .progbar ul li {
    display: flex;
    flex-direction: row-reverse; }
    .progbar ul li label {
      font-size: 14px;
      color: #777;
      min-width: 132px; }
    .progbar ul li .prog {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 8px;
      width: 100%; }
    .progbar ul li .uk-progress {
      margin: auto 0 auto 12px;
      width: 100%; }

@media only screen and (max-device-width: 400px) {
  .progbar ul li {
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important; }
    .progbar ul li label {
      margin-bottom: 6px; } }
