@import '../_colors.scss';
@import '../_layout.scss';

#txtSearch, #btnLocation {
    display: none;
}

.searchbar {
    padding: 16px;
    @include mat;
    @include border-radius(24px,24px,24px,24px);
    @include shadow-more;
    @include row-reverse;
    margin: 32px auto;
    width: calc(100% - 32px);

    > input[type=text] {
        width: 100%;
        @include trans(.3s);
    }

    button:not(.btn-primary) {
        min-width: 132px;
        @include trans(.3s);
    }

    button:hover:not(.btn-primary), input[type=text]:focus {
        background: darken(#E9E9E9,6%);
    }

    .btn-primary {
        @include border-radius(10px,10px,10px,10px);
        width: 70px;
        min-width: 70px;
    }

    .searchbar-margin-left {
        margin-left: 15px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 640px) {
    .searchbar {
        button:not(.btn-primary) {
            min-width: 28px + 24px;
            display: flex;

            span:not(.uk-icon) {
                display: none
            }

            .uk-icon {
                margin: auto !important;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
    .searchbar {
        padding: 8px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        width: calc(100% - 16px);


        button:not(.btn-primary) {
            min-width: 24px + 24px;
            display: flex;

            span:not(.uk-icon) {
                display: none
            }

            .uk-icon {
                margin: auto !important;
            }
        }

        .btn-primary {
            @include border-radius(10px,10px,10px,10px);
            width: 48px;
            min-width: 48px;
        }

        .searchbar-margin-left {
            margin-left: 8px;
        }
    }
}

.search-filter {
    padding: 24px;
    @include border-radius(0,0,24px,24px);
    display: grid;
    grid-gap: 20px;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: $nav-header-height;

    #btnSearch {
        grid-area: search;
        -webkit-appearance: none;
    }

    #btnFood {
        grid-area: food;
    }

    #selectOrder {
        grid-area: order;
        -webkit-appearance: none;
    }

    #btnCity {
        grid-area: city;
    }

    #txtType {
        grid-area: type;
    }

    #txtName {
        grid-area: name;
    }

    select {
        width: 100%;
    }
}

@media only screen and (max-width: 512px) {
    .search-filter {
        top: 0;
    }
}

@media only screen and (min-width: 1050px) {
    .search-filter {
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 2fr;
        grid-template-areas: "search order city food type name";
    }

    .space-search {
        width: 112vw;
        height: 94px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1050px) {
    .search-filter {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "city type name" "search order food";
    }

    .space-search {
        width: 112vw;
        height: 160px;
    }
}

@media only screen and (max-width: 640px) {
    .search-filter {
        grid-template-columns: 1fr 132px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "city type name" "search order food";
        padding: 16px;

        * {
            font-size: 14px;
        }

        .form-group {
            padding: 6px;
        }
    }

    .space-search {
        width: 112vw;
        height: 138px;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 496px) {
    .search-filter {
        #btnFood, #address {
            width: calc(100% - 42px) !important;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .search-filter {
        grid-gap: 6px;
        grid-template-columns: 64px 110px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 8px;
        width: calc(112vw - 16px);
        @include border-radius(0,0,12px,12px);
        overflow: hidden;

        * {
            font-size: 12px;
        }

        .form-group {
            padding: 4px !important;
        }

        .btn-primary {
            width: 64px !important;
            min-width: 64px !important;
            @include border-radius(10px,10px,10px,10px);
        }
    }

    .space-search {
        height: 102px;
        margin-bottom: 16px !important;
    }
}

@media only screen and (max-device-width: 380px) {
    .search-filter {
        grid-template-columns: 64px 110px 1fr !important;

        #btnFood, #address {
            width: calc(100% - 26px);
        }
    }

    .uk-container {
        padding: 6px;
    }
}
